{% extends 'clientapp/index.html' %}
{% load static %}
{% block home %}
<style>
    .w-10{
        width: 10%;
    }
</style>
<div class="container-fluid pt-4 px-4">
    <h6>Deposit Methods
        <hr>
    </h6>
   <form action="" method="post" enctype="multipart/form-data" id="myForm">
    {% csrf_token %}
    {% for message in messages %}
    <div class="alert alert-success mt-2" role="alert">
     {{message}}
   </div>
   {% endfor %}
<div class="row">
   
     
    <div class="col-lg-6 col-md-6">
        <div class="row  bg-secondary rounded mx-0 mb-5 p-3">
            <h6>Crypto Wallet Deposit <hr></h6>
       
            <div class="col-12 mb-3">
                <select class="form-control" name="trade_account_number" required>
                   
                    <option value="wallet">Wallet</option>

                         {% for  x in live  %}
                           
                         
                        <option value="{{x.login}}">{{x.login}} &nbsp;(0.00 &nbsp;USD)</option>
                        {% endfor %}
                </select>
            </div>

            <div class="col-12 mb-3">
                <input type="text" name="amount" class="form-control bg-white" placeholder="Amount in USD" required>

            </div>
            <div class="col-12 mb-3">
                <select class="form-control" name="deposit_type" required>
                    <option>Bank Deposit</option>
                        <option>USDT Deposit</option>

                </select>
            </div>
            <div class="col-12 mb-3">
                <input type="file" name="file" class="form-control bg-white" placeholder="Amount in USD" required>
                <small class="text-info">  supported file type: .jpeg, .png</small>
            </div>

            <div class="mb-3">
                <textarea placeholder="Comments"  name="comment" class="form-control bg-white" required></textarea>
             </div>
             <div class="mb-3 ">
              <input type="text" name="number" placeholder="Enter Otp"  class="form-control bg-white col-lg-4 col-md-4" id="otp" style="display:none;" required>
              <a type="button" class="btn btn-sm btn-info w-100 btn-block" id="requestotp"> Request Otp</a>
           </div>
           <div class=" mt-3" style="display:none" id="otps">
            <input type="button" class="btn btn-primary w-100 btn-block" id="otpverify" value="Otpverify">
         </div>
         <small id="otp_error" class="text-danger"></small>
             <div class=" mt-3">
                <input type="submit" class="btn btn-primary w-100 btn-block" id="submitBtn" value="Submit">
             </div>
           
        </div>

    </div>

    <div class="col-lg-6 col-md-6">

        <div class="row  bg-secondary rounded mx-0 mb-5 p-3">
            <img src="{%static 'img/usdt.png'%}" class="w-10 mb-3">
            <p class="small">USDT (TRC20) Address &nbsp;&nbsp;<span class="text-info">TEF8hr6kopSWWFhNxARMdJbqvbkfQauNpL</span>&nbsp;&nbsp; <span><a class="btn btn-warning btn-sm">copy</a></span> </p>
            
        </div>

        <div class="row  bg-secondary rounded mx-0 p-3">
            <img src="{%static 'img/usdt.png'%}" class="w-10 mb-3">
            
              
           
            <p class="text-danger">Bank Name &nbsp;&nbsp;<span>:</span> &nbsp;&nbsp;<span>{{bank.bank_name}}</span><br>
            Account Number &nbsp;&nbsp;<span>:</span> &nbsp;&nbsp;<span>{{bank.account_name}}</span><br>
         Beneficiary name &nbsp;&nbsp;<span>:</span>&nbsp;&nbsp; <span>{{bank.benificary_name}}</span><br>
        IFSC Code &nbsp;&nbsp;<span>:</span>&nbsp;&nbsp;<span>{{bank.ifsc_code}}</span></p>
        

        </div>

    </div>
</div>

  
</div>  
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('myForm');
      const submitBtn = document.getElementById('submitBtn');
      const fields = form.querySelectorAll('input','select','textarea');
  
      function checkFields() {
        let allFilled = true;
        fields.forEach(function(field) {
          if (field.value.trim() === '') {
            allFilled = false;
          }
        });
  
        if (allFilled) {
          submitBtn.removeAttribute('disabled');
        } else {
          submitBtn.setAttribute('disabled', 'disabled');
        }
      }
  
      fields.forEach(function(field) {
        field.addEventListener('input', checkFields);
      });
  
      // Check on initial load
      checkFields();
    });
  </script>


<script>

$("#requestotp").click(function (e) {
           //alert('okk')
           token = $('input[name=csrfmiddlewaretoken]').val()
          
            $.ajax({
                url: '{% url "deposit_otp" %}',  // Replace with your URL
                type: 'POST',
                data:{
                  csrfmiddlewaretoken: token,
                },
                
                success: function (data) {
                  
                   if(data)
                   {
                   
                   
                    $('#requestotp').hide()
                    $('#otp').show()
                    $('#otps').show()

                   }
                   else{
                    $('#otpsuccess').text(data.error)
                   }
                
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    
        $("#otpverify").click(function (e) {
           //alert('okk')

           var otp =$('#otp').val()
           token = $('input[name=csrfmiddlewaretoken]').val()
          
            $.ajax({
                url: '{% url "deposit_otp_verfiy" %}',  // Replace with your URL
                type: 'POST',
                data:{
                  otp:otp,
                  csrfmiddlewaretoken: token,
                },
                
                success: function (data) {
                  
                   if(data.msg)
                   {
                   
                  $('#otp_error').text(data.msg)
                   $('#otps').hide()

                   }
                   if(data.msg1)
                   {
                   
                    $('#otp_error').text(data.msg1)
                   

                   }
                
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
</script>

{% endblock %}