
{% extends 'clientapp/auth_index.html' %}
{% load static %}
{% block home %}

           <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="{%url 'home'%}" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Razfxm</h3>
                            </a>
                            <h3>Forgot Password</h3>
                        </div>
                        <div id="email_id">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email"   name="email" required>
                            <label for="floatingInput">Email</label>
                        </div>

                        <button type="submit" id="send_otp" class="btn btn-primary btn-sm py-3 w-100 mb-4">Send OTP</button>
                    </div>

                        <div class="form-floating mb-4" id="otp" style="display:none">
                            <input type="number" class="form-control"  name="otp" id="otp" required>
                            <label for="floatingPassword">OTP</label>
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-sm py-3 w-100 mb-4">Submit</button>

                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script>

                $("#send_otp").click(function () {
                     $("#email_id").hide();
                     $("#otp").show();
                     
                    
                  });
                  $(document).ready(function () {
                  $("#submitBtn2").click(function (e) {
                            var oldemail = $('#oldemail').val()
                            var newemail = $('#newemail').val()
                            var baseURL = window.location.origin;
                        
                            //alert(newemail)
                            token = $('input[name=csrfmiddlewaretoken]').val()
                           
                        });
                    });
                </script>
     {% endblock %}