{% extends 'clientapp/auth_index.html' %}
{% load static %}
{% block home %}

<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <a href="{%url 'home'%}" class="">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Razfxm</h3>
                </a>
                <h3>Forgot Password</h3>
            </div>
            <form method='post' id='test'>
                {% csrf_token %}
            <div id="email_id">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" required>
                    <label for="floatingInput">Email</label>
                </div>

                <button type="submit" id="send_otp" class="btn btn-primary btn-sm py-3 w-100 mb-4">Send OTP</button>
            </div>
            <div id="otp"  style="display:none">
            <div class="form-floating mb-4" >
                <input type="text" class="form-control" name="otp" id="otps" required>
                <label for="floatingPassword">OTP</label>
            </div>

            <button type="submit" id="submit" class="btn btn-primary btn-sm py-3 w-100 mb-4" >Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $("#send_otp").click(function () {
        var email = document.getElementById("email").value
     
        if (email === '') {

            return false
        }
        else {
            token = $('input[name=csrfmiddlewaretoken]').val()
            $.ajax({
                type: "POST",
                url: "{% url 'forgot_password' %}",
                data: {
                    'email': email,
                    csrfmiddlewaretoken: token
                },
                success: function (data) {
                    
                    if(data.msg1)
                    {
                        $("#email_id").hide();
                      $("#otp").show();
                      $(".submit").show();
                    }

                    else{
                        alert('user does not exists')
                    }
                    
                }
            });
        }



    });



    $("#submit").click(function () {
        var otp = document.getElementById("otps").value
        alert(otp)
        if (otp === '') {

            return false
        }
        else {
            token = $('input[name=csrfmiddlewaretoken]').val()
            $.ajax({
                type: "POST",
                url: "{% url 'forgototp' %}",
                data: {
                    'otp': otp,
                    csrfmiddlewaretoken: token
                },
                success: function (data) {
                  
                    if(data.msg1)
                    {
                        document.location.href ="{% url 'client_login'%}"
                    }

                    else{
                        alert('otp is invalid...')
                        document.location.href ="{% url 'forgot_password'%}"
                    }
                    
                }
            });
        }



    });

</script>
{% endblock %}