{% extends 'clientapp/index.html' %}
{% load static %}
{% block home %}
<div class="container-fluid pt-4 px-4  mb-5">
    <div class="row  bg-secondary rounded align-items-center justify-content-center mx-0 p-3">

    <div class="col-lg-12">
        <h6>Open Demo Accounts
            <hr>
        </h6>
    </div>
      <form action="" method="post">
        {% csrf_token %}
    <div class="row mt-3">
        <div class="col-lg-4 col-md-3">
            <select class="form-control" name="forex_group" required>
                <option>Select Account Type</option>
                {% for x in forex_group %}
                <option value="{{x.name}}"  {% if x.name == 'DC/DEMO'  %} selected
                  
                {% endif %}>{{x.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4 col-md-3">
            <select class="form-control" name="leverage" required>
                <option>Select Leverage</option>
                {% for x in leverage %}
                <option value="{{x.add_leverage_value}}">{{x.add_leverage_value}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- <div class="col-lg-3 col-md-3">
            <select class="form-control">
                <option>Select Deposit Amount</option>
                {% for x in demo %}
                <option value="{{x.amount}}">{{x.amount}}</option>
                {% endfor %}
            </select>
        </div> -->
        <div class="col-lg-4 col-md-3">
            <input type="submit" class="btn btn-primary" value="Open Demo Account"/>
            </select>
        </div>
    </form>
    </div>
    

        
    </div>
</div>        

<div class="container-fluid  px-4  mb-5">
    <div class="row  bg-secondary rounded align-items-center justify-content-center mx-0 p-3">

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Demo Trade Accounts</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Group</th>
                                <th scope="col">Email</th>
                                <th scope="col">Leverage</th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for x  in demo %}
                              
                           
                            <tr class="text-center">
                                <th scope="row">{{x.id}}</th>
                                <td>{{x.user.username}}</td>
                                <td>{{x.group}}</td>
                                <td>{{x.email}}</td>
                                <td>{{x.leverage}}</td>
                               
                                
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </div>
</div> 


{% endblock %}