{% extends "forex/base.html" %}

{% block home %}


<div class="asset-manager-page container-xl">

    <div class="head my-5 my-lg-5 pt-3">
      <div class="row flex-sm-row-reverse row-cols-1 align-items-center g-5">
        <div class="col d-flex flex-column align-items-sm-start m-0 mt-sm-5">
          <h1 class="h-title text-500 sofia-pro-heading text-responsive-32 lh-lg">Asset Manager</h1>
          <h4 class="h-content text-start lh-base text-responsive-20 grey-text">Trade and manage multiple accounts
            from a single MT4 interface.</h4>
        </div>
      </div>
      <a href=https://register.axiontrade.net/account/partner/step-1 target="_blank">
        <button type="button" class="blue-btn btn px-4 text-white mt-4 mb-2">Become an Asset Manager Now</button>
      </a>
    </div>

    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c103></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Asset Manager &lt;span style=&quot;color: #0354ff;&quot;&gt;Features&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c103');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c166></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Our Raw Pricing model with tight spreads and deep liquidity ensures money managers are able to get filled on large volumes at the prices they request. This means MAM/PAMMs are able to produce greater returns and give money managers greater control over their fee mark-ups, maximising the returns for all parties.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Customisable trading conditions including spreads, commissions, performance fees, etc.&lt;/li&gt;
&lt;li&gt;Automatic calculation of commissions and performance fees with easy withdrawal options&lt;/li&gt;
&lt;li&gt;Ability to add and/or remove funds without affecting trading activity&lt;/li&gt;
&lt;li&gt;Diverse product range&lt;/li&gt;
&lt;li&gt;Professional reporting analytics displayed to you and your clients&lt;/li&gt;
&lt;li&gt;Solutions for EA and manual traders&lt;/li&gt;
&lt;li&gt;Earn commission rebates with the option of additional spread and commission markups, similar to that of a Master Introducing Broker&lt;/li&gt;
&lt;/ul&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c166');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c1bb></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;What is a &lt;span style=&quot;color: #0354ff;&quot;&gt;Multi Account Manager?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c1bb');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c209></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;A Multi Account Manager is quite simply software that integrates into your MT4 that allows money managers to place orders in bulk, in an unlimited number of accounts. The process is fast, efficient and can be executed from one trading terminal.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Who can use the MAM?&lt;/strong&gt; Well, Professional Traders and Investment Firms that have the authority to manage funds on behalf of their clients can use the Axion Trade Multi Account Manager.&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c209');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c253></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Asset Manager &lt;span style=&quot;color: #0354ff;&quot;&gt;Benefits&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c253');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c298></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;ul&gt;
&lt;li&gt;Charge clients based on your preferences and investment philosophy&lt;/li&gt;
&lt;li&gt;Flexibility with withdrawing commissions to improve your cash flow&lt;/li&gt;
&lt;li&gt;Keep investors happy by allowing them to deposit and withdrawal when they want&lt;/li&gt;
&lt;li&gt;Get access to more opportunities across more markets with our large product range&lt;/li&gt;
&lt;li&gt;Greater transparency between AxionTrade, Money Manager and Investors&lt;/li&gt;
&lt;/ul&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c298');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c2dd></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Benefits and Features of the &lt;span style=&quot;color: #0354ff;&quot;&gt;Multi Account Manager&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c2dd');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c326></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;ul&gt;
&lt;li&gt;3 Allocation methods:
&lt;ul&gt;
&lt;li style=&quot;list-style-type: disc;&quot;&gt;Fixed lot size allocation (MAM)&lt;/li&gt;
&lt;li style=&quot;list-style-type: disc;&quot;&gt;Proportional by balance (PAMM)&lt;/li&gt;
&lt;li style=&quot;list-style-type: disc;&quot;&gt;Proportional by equity (PAMM)&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;Trade sizes from 0.01 lots&lt;/li&gt;
&lt;li&gt;Expert Advisors (EA) allowed&lt;/li&gt;
&lt;li&gt;Unlimited number of investor accounts&lt;/li&gt;
&lt;li&gt;Trading account provided to investor to track real-time trading activity (with the option to hide running trade positions)&lt;/li&gt;
&lt;li&gt;All usual order types accepted: Market, Stop, Limit&lt;/li&gt;
&lt;li&gt;Diverse product range&lt;/li&gt;
&lt;li&gt;Fast and reliable MT4 servers&lt;/li&gt;
&lt;/ul&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c326');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c370></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Customisable &lt;span style=&quot;color: #0354ff;&quot;&gt;Trading Conditions&amp;nbsp;&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c370');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c3b5></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Commissions from mark-ups are credited to a live trading account in real time, which can be withdrawn at any time. Performance fees can be calculated at any time through the MAM Manager which all money managers are given access to. Performance fees are calculated and debited from clients’ trading accounts in accordance with the limited power of attorney, usually on a monthly basis.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c3b5');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="mt-3 mt-md-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35cd82c3f9></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Add/Remove Funds &lt;span style=&quot;color: #0354ff;&quot;&gt;Without Affecting Trading Activity&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c3f9');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35cd82c43d></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `We recognise that some withdrawals and deposits may affect open trade allocations, especially when there is open trade drawdown. We are happy to work with money managers in these instances to find the most equitable solutions for all parties, including: withdrawal restrictions whilst trades are opened, realising profit and loss on a per account basis, and so on.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c43d');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>


    <h6 class="lh-lg mb-5 text-responsive-18">
      <div id=content-65e35cd82c47a></div>
      <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
      <script>
        (function () {
          let content = `For more information about our money manager program, please complete the form below to have an institutional account manager contact you.`;
          let clean = DOMPurify.sanitize(_.unescape(content));
          let el = document.getElementById('content-65e35cd82c47a');
          el.innerHTML = clean;
        })();
      </script>
    </h6>

    <div class="steps pt-3 mb-4">
      <h4 class="sofia-pro-heading text-500 text-responsive-24 mb-4">
        <div id=content-65e35cd82c4bd></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;How Can You &lt;span style=&quot;color: #0354ff;&quot;&gt;Start?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35cd82c4bd');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <div class="my-3 my-lg-5 ">
        <div class="row row-cols-1 row-cols-xl-3 g-lg-3 g-md-4 g-sm-4 g-4">
          <div class="col d-flex flex-column gap-3">
            <h5 class="m-0 sofia-pro-heading text-500 text-responsive-20 ">Step 1 - Register</h5>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text">Register for an Asset Manager Account using the link
              provided below.</h6>
          </div>
          <div class="col d-flex flex-column gap-3">
            <h5 class="m-0 sofia-pro-heading text-500 text-responsive-20 ">Step 2 - Invite Investor</h5>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text">Start adding live investor accounts to your Master
              Account.</h6>
          </div>
          <div class="col d-flex flex-column gap-3">
            <h5 class="m-0 sofia-pro-heading text-500 text-responsive-20 ">Step 3 - Execute</h5>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text">Start executing bulk orders in your Master Account.
            </h6>
          </div>
        </div>
      </div>
    </div>

    <a href=https://register.axiontrade.net/account/partner/step-1>
      <button type="button" class="blue-btn btn px-4 text-white mb-5 sofia-pro-heading text-responsive-16">Become an
        Asset Manager Now</button>
    </a>

  </div>


{% endblock %}