{% extends "forex/base.html" %}

{% block home %}


<div class="axion-trader-page container-xl">

    <div class="head my-3 my-lg-3">
      <div class="row d-flex justify-content-between row-cols-1 row-cols-xl-2 align-items-center">
        <div class="col d-flex flex-column align-items-center align-items-sm-start m-0 mt-sm-5">
          <h1 class="h-title text-center text-sm-start fw-bold lh-lg text-500 sofia-pro-heading text-responsive-32">
            <div id=content-65e359b27e7f7></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Axion Trader™ Program`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e359b27e7f7');
                el.innerHTML = clean;
              })();
            </script>
          </h1>
          <h5 class="h-content text-center text-sm-start lh-base text-responsive-20">
            <div id=content-65e359b27e84d></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Do you have what it takes to become a professional trader?&lt;br /&gt;Come and Join the Ranks of Axion Trader&amp;trade; Program!&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e359b27e84d');
                el.innerHTML = clean;
              })();
            </script>
          </h5>
          <div class="cta mt-4 mt-sm-3 mt-lg-5 g-2 d-flex gap-3">
            <a>
              <button type="button" data-bs-toggle="modal" data-bs-target="#getStartModel"
                class="blue-btn btn text-white">Get Started</button>
            </a>
            <a href=https://axiontrade.net/assets/account/pdf/AxionTrader.pdf>
              <button type="button" class="sec-btn btn text-white">Learn More</button>
            </a>
          </div>
        </div>
        <div class="spec row d-flex row row-cols-2 row-cols-md-4 row-cols-xl-2 my-3">
          <div class="col g-4 header-spec">
            <div class="stat shadow bg-white rounded p-3">
              <div class="stat-inner text-start d-flex flex-column justify-content-between">
                <h5 class="fw-bold text-responsive-18 text-600">
                  <div id=content-65e359b27e918></div>
                  <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                  <script>
                    (function () {
                      let content = `&lt;p&gt;&lt;strong style=&quot;color: #0354ff;&quot;&gt;Novice &lt;/strong&gt;Traders&lt;/p&gt;`;
                      let clean = DOMPurify.sanitize(_.unescape(content));
                      let el = document.getElementById('content-65e359b27e918');
                      el.innerHTML = clean;
                    })();
                  </script>
                </h5>
                <h3 class="fw-bold sofia-pro-heading text-responsive-32 text-500">912</h3>
              </div>
            </div>
          </div>
          <div class="col g-4 header-spec">
            <div class="stat shadow bg-white rounded p-3">
              <div class="stat-inner text-start d-flex flex-column justify-content-between">
                <h5 class="fw-bold text-responsive-18 text-600">
                  <div id=content-65e359b27e963></div>
                  <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                  <script>
                    (function () {
                      let content = `&lt;p&gt;&lt;strong style=&quot;color: #0354ff;&quot;&gt;Advanced&lt;/strong&gt; Traders&amp;nbsp;&lt;/p&gt;`;
                      let clean = DOMPurify.sanitize(_.unescape(content));
                      let el = document.getElementById('content-65e359b27e963');
                      el.innerHTML = clean;
                    })();
                  </script>
                </h5>
                <h3 class="fw-bold sofia-pro-heading text-responsive-32 text-500">118</h3>
              </div>
            </div>
          </div>
          <div class="col g-4 header-spec">
            <div class="stat shadow bg-white rounded p-3">
              <div class="stat-inner text-start d-flex flex-column justify-content-between">
                <h5 class="fw-bold text-responsive-18 text-600">
                  <div id=content-65e359b27e9a9></div>
                  <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                  <script>
                    (function () {
                      let content = `&lt;p&gt;&lt;strong style=&quot;color: #0354ff;&quot;&gt;Pro &lt;/strong&gt;Traders&lt;/p&gt;`;
                      let clean = DOMPurify.sanitize(_.unescape(content));
                      let el = document.getElementById('content-65e359b27e9a9');
                      el.innerHTML = clean;
                    })();
                  </script>
                </h5>
                <h3 class="fw-bold sofia-pro-heading text-responsive-32 text-500">11</h3>
              </div>
            </div>
          </div>
          <div class="col g-4 header-spec">
            <div class="stat shadow bg-white rounded p-3">
              <div class="stat-inner text-start d-flex flex-column justify-content-between">
                <h5 class="fw-bold text-responsive-18 text-600">
                  <div id=content-65e359b27e9ed></div>
                  <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                  <script>
                    (function () {
                      let content = `&lt;p&gt;&lt;strong style=&quot;color: #0354ff;&quot;&gt;Funds &lt;/strong&gt;Allocated&lt;/p&gt;`;
                      let clean = DOMPurify.sanitize(_.unescape(content));
                      let el = document.getElementById('content-65e359b27e9ed');
                      el.innerHTML = clean;
                    })();
                  </script>
                </h5>
                <h3 class="fw-bold sofia-pro-heading text-responsive-32 text-500">17.61 M</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 py-3">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e359b27ea2a></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;About &lt;strong style=&quot;color: #0354ff;&quot;&gt;Axion Trader&amp;trade;&lt;/strong&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e359b27ea2a');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e359b27ea66></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Launched in September 2021 through partnerships with renowned institutional clients and partners of Axion Trade, the capital pledged by these hedge funds will fully be allocated to funding talented traders identified by our Axion Scoring System™. Axion Trader™ values and nurtures gifted traders, supporting them the funding they need to turn pro. Show us your trading skills to climb up the ranks and we will back you with capital and exclusive resources.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e359b27ea66');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <div class="spec row gy-5 g-sm-5 row-cols-1 row-cols-lg-3 my-5">
        <div class="col d-flex gap-3 my-3">
          <div class="align-self-center">
            <img src=https://axiontrade.net/assets/account/trader_potential.png class="axion-trader-icon">
          </div>
          <div class="align-self-center">
            <h5 class="fw-bold lh-lg text-responsive-20 text-500">Structured Program Designed to Access Your True
              Potential</h5>
          </div>
        </div>
        <div class="col d-flex gap-3 my-3">
          <div class="align-self-center">
            <img src=https://axiontrade.net/assets/account/trader_gain.png class="axion-trader-icon">
          </div>
          <div class="align-self-center">
            <h5 class="fw-bold lh-lg text-responsive-20 text-500">Qualify and Gain Access to US $500,000 in Funding
            </h5>
          </div>
        </div>
        <div class="col d-flex gap-3 my-3">
          <div class="align-self-center">
            <img src=https://axiontrade.net/assets/account/trader_get.png class="axion-trader-icon">
          </div>
          <div class="align-self-center">
            <h5 class="fw-bold lh-lg text-responsive-20 text-500">Get Funded Immediately Upon Qualifying on Our
              Program</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="participating my-5">
      <div class="row slide-comp">
        <div class="d-flex mb-3">
          <div class="d-flex flex-column align-items-baseline">
            <h1
              class="text-500 display-5 lh-1 title text-500 sofia-pro-heading text-responsive-48  lh-lg text-responsive-24 ">
              <div id=content-65e359b27eb3e></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Participating &lt;strong style=&quot;color: #0354ff;&quot;&gt;Hedge Funds&lt;/strong&gt;&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e359b27eb3e');
                  el.innerHTML = clean;
                })();
              </script>
            </h1>
          </div>
          <div class="flex-grow-1 float-end slide-button d-flex justify-content-end gap-2 align-items-end"
            id=btn-1567905269></div>
        </div>
        <div class="slide" id=slide-678364723>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/penghua_fund.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/pinebridge_investments.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/gsr_ventures.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/pictet_am.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/pamplona.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/aurum.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/toscafund.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/beach_point.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/kensico.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/silver_point.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/stic.png)"></div>
          </div>
        </div>
      </div>


    </div>
    <div class="participating my-5">
      <div class="row slide-comp">
        <div class="d-flex mb-3">
          <div class="d-flex flex-column align-items-baseline">
            <h1
              class="text-500 display-5 lh-1 title text-500 sofia-pro-heading text-responsive-48  lh-lg text-responsive-24 ">
              <div id=content-65e359b27ec42></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Participating &lt;strong style=&quot;color: #0354ff;&quot;&gt;Liquidity Providers&lt;/strong&gt;&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e359b27ec42');
                  el.innerHTML = clean;
                })();
              </script>
            </h1>
          </div>
          <div class="flex-grow-1 float-end slide-button d-flex justify-content-end gap-2 align-items-end"
            id=btn-1732253446></div>
        </div>
        <div class="slide" id=slide-671817374>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/bayclays.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/citadel.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/citi_bank.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/credit_suisse.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/bank_america.jpg)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/bnp_paribas.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/societe_generale.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/goldman_sachs.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/jpmorgan_chase.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/xtx.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/ubs.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/rbsbank.png)"></div>
          </div>
          <div class=" px-4 ">
            <div class="background-image-cover pb-square  background-image-contain pb-16-9 "
              style="background-image: url(https://axiontrade.net/assets/account/deutsche_bank.png)"></div>
          </div>
        </div>
      </div>


    </div>

    <div class="settings my-5 pt-3">
      <h4 class="fw-bold lh-lg mb-4 text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e359b27ecbc></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `FAQ`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e359b27ecbc');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <div class="container-xl">
        <div class="spec row row-cols-1 row-cols-md-1 row-cols-lg-1 g-5 align-items-center mx-0">
          <div class="col quote-col">
            <div class="d-flex gap-2 lh-lg align-items-baseline">
              <h5 class="mb-2 text-responsive-20 text-500">Q: What do I need to provide if I am currently trading on
                other platforms?</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18">A: You need to provide us an Investor Login from any MT4 Trading
              Account belinging to you with the Server, Login ID and Investor Password details.</h6>
          </div>
          <div class="col quote-col">
            <div class="d-flex gap-2 lh-lg align-items-baseline">
              <h5 class="mb-2 text-responsive-20 text-500">Q: Can I qualify with a demo account?</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18">A: No, only Live MT4 accounts that meet the eligibility criteria
              will qualify.</h6>
          </div>
          <div class="col quote-col">
            <div class="d-flex gap-2 lh-lg align-items-baseline">
              <h5 class="mb-2 text-responsive-20 text-500">Q: Do I need an Axion Trade Account to take part in Axion
                Trader™?</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18">A: Yes, you will need to sign up an Axion Trade account.</h6>
          </div>
          <div class="col quote-col">
            <div class="d-flex gap-2 lh-lg align-items-baseline">
              <h5 class="mb-2 text-responsive-20 text-500">Q: How can I start trading with the allocated funding?</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18">A: You will continue to trade the trading account that qualifies
              for the funding. Axion Trader™ will create a new copy trading account and allocate the trading capital
              to it. We will then notify the qualifying trader of the login details of the copy trading account. The
              copy trading system will automatically copy trades from the trader’s account to the copy trading
              account, based on the multiplier.</h6>
          </div>
          <div class="col quote-col">
            <div class="d-flex gap-2 lh-lg align-items-baseline">
              <h5 class="mb-2 text-responsive-20 text-500">Q: I can’t find the answer to my question.</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18">A: Please reach out to us at enquiry@axiontrade.net for any
              enquiries.</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5 pt-5">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e359b27ed0d></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;How to &lt;strong style=&quot;color: #0354ff;&quot;&gt;Join the Program?&lt;/strong&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e359b27ed0d');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e359b27ed4a></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `If you are already trading on Axion Trade and want to check if your account has fulfilled our qualifying criteria, you can complete the form by clicking on “Get Started” for an evaluation. Alternatively, we check our account database regularly, and will notify you if you’re eligible for inclusion to the Program.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e359b27ed4a');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <div class="my-4 my-lg-5 pt-3 pt-lg-5">

        <div class="container-xl d-block d-md-none d-xl-block">
          <div class="spec flex-sm-row-reverse row row-cols-1 row-cols-xl-2 g-5">
            <div class="row col-lg-7 row-cols-1 row-cols-md-2 row-cols-lg-2 mb-2 g-3">
              <div class="col px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 1</h5>
                  <h6 class="my-xl-4 lh-lg text-responsive-18">Create your Axion Trade Account using the sign up link
                    at the top of the page</h6>
                </div>
                <a href=https://register.axiontrade.net/account/live/step-1>
                  <button type="button" class="blue-btn btn text-white">Open Account</button>
                </a>
              </div>
              <div class="col px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 2</h5>
                  <h6 class="my-xl-4 lh-lg text-responsive-18">Complete the form by clicking on the “Get Started” link
                    below to request a consideration.</h6>
                </div>
                <a>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#getStartModel"
                    class="blue-btn btn text-white">Get Started</button>
                </a>
              </div>
              <div class="col px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 3</h5>
                  <h6 class="my-xl-4 lh-lg text-responsive-18">Fulfil our criteria to qualify as a Novice Axion
                    Trader™ and get your initial funding</h6>
                </div>
              </div>
              <div class="col px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 4</h5>
                  <h6 class="my-xl-4 lh-lg text-responsive-18">Work your way up to a Pro Axion Trader™ and get up to
                    US $500,000 in funding!</h6>
                </div>
              </div>
            </div>
            <div class="row col-lg-5">
              <div class="background-image-contain pb-4-3 m-0"
                style="background-image: url(https://axiontrade.net/assets/account/join.png)"></div>
            </div>
          </div>
        </div>


        <div class="container-xl d-none d-md-block d-xl-none">
          <div class="row row-cols-2">
            <div class="col d-flex flex-column gap-5 justify-content-between">
              <div class="px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 1</h5>
                  <h6 class="my-4 lh-lg text-responsive-18">Create your Axion Trade Account using the sign up link at
                    the top of the page</h6>
                </div>
                <a href=https://register.axiontrade.net/account/live/step-1>
                  <button type="button" class="blue-btn btn text-white">Open Account</button>
                </a>
              </div>
              <div class="flex-grow-1 background-image-contain pb-4-3 m-0"
                style="background-image: url(https://axiontrade.net/assets/account/join.png)"></div>
            </div>
            <div class="col d-flex flex-column gap-5">
              <div class="px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 2</h5>
                  <h6 class="my-4 lh-lg text-responsive-18">Complete the form by clicking on the “Get Started” link
                    below to request a consideration.</h6>
                </div>
                <a>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#getStartModel"
                    class="blue-btn btn text-white">Get Started</button>
                </a>
              </div>
              <div class="px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 3</h5>
                  <h6 class="my-4 lh-lg text-responsive-18">Fulfil our criteria to qualify as a Novice Axion Trader™
                    and get your initial funding</h6>
                </div>
              </div>
              <div class="px-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="my-3 fw-bold text-responsive-20 text-500 sofia-pro-heading">Step 4</h5>
                  <h6 class="my-4 lh-lg text-responsive-18">Work your way up to a Pro Axion Trader™ and get up to US
                    $500,000 in funding!</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- GET START Modal -->
      <div class="modal fade" id="getStartModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="getStartModelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="getStartModelLabel">Get Started</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" id="contactForm" name="contactForm" onsubmit="onFormSubmit(event)">
                <input type="hidden" name="_token" value="nFHkkkdFALuffehFYemvJaZiKFq9M2pETMILbkHV">
                <div class="row">
                  <div class="form-group">
                    <label
                      class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16 is-required"
                      for="option">
                      account.get_start_form.option.ques
                    </label>
                    <select class="form-select" name="option" aria-label="select" id="option-list"
                      onchange="addRequiredTag(this)">
                      <option value="option1">account.get_start_form.option1</option>
                      <option value="option2">account.get_start_form.option2</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                      for="broker">
                      account.get_start_form.broker
                    </label>
                    <input name="broker" class="form-control" id="broker" type="text" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                      for="mt4Server">
                      account.get_start_form.mt4_server
                    </label>
                    <input name="mt4Server" class="form-control" id="mt4Server" type="text" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                      for="mt4Login">
                      account.get_start_form.mt4_login
                    </label>
                    <input name="mt4Login" class="form-control" id="mt4Login" type="text" required="required">
                  </div>
                </div>

                <div id="option1" class="option-target d-none">
                  <div class="row">
                    <div class="form-group">
                      <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                        for="mt4pw">
                        account.get_start_form.mt4_investor_pw
                      </label>
                      <input name="mt4pw" class="form-control" id="mt4pw" type="text" required="required">
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="form-group">
                    <label class="block font-medium text-sm text-gray-700 col-md-4 col-form-label text-responsive-16"
                      for="captcha">
                      Captcha
                    </label>
                    <div class="col-form-label pt-0">
                      <div class="captcha-content" role="button" style="height: 46px;"></div>
                    </div>
                    <input name="captcha" class="form-control" id="captcha" type="text" required="required">
                  </div>
                </div>

                <button type="submit"
                  class="getStart-submit-btn btn blue-btn text-white py-2 px-4 mt-3 text-responsive-16">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  {% endblock %}