{% extends "forex/base.html" %}

{% block home %}
<div class="language-modal modal bottom fade overflow-hidden" id="languageModal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content position-absolute bottom-0">
        <div class="modal-body" id="selectModalBody">
        </div>
    </div>
</div>
</div>
<div>

<div class="forex-page">
    <div class="container-xl">
        <div class="head my-sm-3 my-lg-5">
            <div class="row flex-sm-row-reverse row-cols-1 row-cols-md-2 align-items-center g-5 m-auto">
                <div class="col pb-0 p-sm-0">
                    <div class="background-image-contain pb-16-9 m-0"
                        style="background-image: url(https://axiontrade.net/assets/market/Market_Forex.png)">
                    </div>
                </div>

                <div class="col d-flex flex-column align-items-center align-items-md-start m-0 mt-sm-5 p-0">
                    <h1 class="h-title fw-bold lh-lg sofia-pro-heading text-responsive-48">Forex</h1>
                    <h4 class="h-content text-center text-sm-start lh-base text-responsive-24">Trade popular
                        forex pairs like EUR/USD and GBP/USD! Come and trade over 50+ forex pairs with Axion
                        Trade.</h4>
                    <div class="cta mt-4 mt-sm-3 mt-lg-5 g-2 d-flex gap-3">
                        <a href=https://register.axiontrade.net/account/live/step-1 target="_blank">
                            <button type="button" class="blue-btn btn text-white text-responsive-16">Start
                                Trading</button>
                        </a>
                        <a href=https://secure.axiontrade.net/account/demo target="_blank">
                            <button type="button" class="sec-btn btn text-white text-responsive-16">Try a Demo
                                Account</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contract my-5">
            <h4 class="lh-lg text-responsive-24 text-500 sofia-pro-heading">
                <div id=content-65e34e156302d></div>
                <script
                    src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                <script>
                    (function () {
                        let content = `&lt;p&gt;Forex Contract &amp;amp; &lt;span style=&quot;color: #0354ff;&quot;&gt;Specifications&lt;/span&gt;&lt;/p&gt;`;
                        let clean = DOMPurify.sanitize(_.unescape(content));
                        let el = document.getElementById('content-65e34e156302d');
                        el.innerHTML = clean;
                    })();
                </script>
            </h4>
            <div class="spec row row-cols-1 row-cols-xl-2 g-5 align-items-center mx-0">
                <div class="col quote-col text-start d-flex flex-column align-items-start">
                    <div class="d-flex gap-2 lh-lg align-items-center">
                        <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Contract Size</h5>
                        <i class="bi bi-chevron-right text-responsive-20"></i>
                        <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">100,000</h5>
                    </div>
                    <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                        <div id=content-65e34e1563160></div>
                        <script
                            src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                        <script>
                            (function () {
                                let content = `1 standard Lot Contract Size on Axion Trade is equivalent to 100,000 units of base currency. E.g. 1 standard lot of EUR/USD is €100,000.`;
                                let clean = DOMPurify.sanitize(_.unescape(content));
                                let el = document.getElementById('content-65e34e1563160');
                                el.innerHTML = clean;
                            })();
                        </script>
                    </h6>
                </div>

                <div class="col quote-col text-start d-flex flex-column align-items-start">
                    <div class="d-flex gap-2 lh-lg align-items-center">
                        <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Minimum Lot</h5>
                        <i class="bi bi-chevron-right text-responsive-20"></i>
                        <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">0.01</h5>
                    </div>
                    <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                        <div id=content-65e34e1563229></div>
                        <script
                            src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                        <script>
                            (function () {
                                let content = `The minimum lot size on Axion Trade is 0.01 which is equivalent to 1,000 units of base currency.`;
                                let clean = DOMPurify.sanitize(_.unescape(content));
                                let el = document.getElementById('content-65e34e1563229');
                                el.innerHTML = clean;
                            })();
                        </script>
                    </h6>
                </div>

                <div class="col quote-col text-start d-flex flex-column align-items-start">
                    <div class="d-flex gap-2 lh-lg align-items-center">
                        <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Incremental Steps</h5>
                        <i class="bi bi-chevron-right text-responsive-20"></i>
                        <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">0.01</h5>
                    </div>
                    <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                        <div id=content-65e34e15632d8></div>
                        <script
                            src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                        <script>
                            (function () {
                                let content = `The minimum incremental lot size on Axion Trade is 0.01 which is equivalent to 1,000 units of base currency.`;
                                let clean = DOMPurify.sanitize(_.unescape(content));
                                let el = document.getElementById('content-65e34e15632d8');
                                el.innerHTML = clean;
                            })();
                        </script>
                    </h6>
                </div>

                <div class="col quote-col text-start d-flex flex-column align-items-start">
                    <div class="d-flex gap-2 lh-lg align-items-center">
                        <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Maximum Lot</h5>
                        <i class="bi bi-chevron-right text-responsive-20"></i>
                        <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">100</h5>
                    </div>
                    <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                        <div id=content-65e34e1563380></div>
                        <script
                            src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                        <script>
                            (function () {
                                let content = `The maximum lot size per trade on Axion Trade is 100 by default which is equivalent to 10,000,000 units of base currency.`;
                                let clean = DOMPurify.sanitize(_.unescape(content));
                                let el = document.getElementById('content-65e34e1563380');
                                el.innerHTML = clean;
                            })();
                        </script>
                    </h6>
                </div>

            </div>
        </div>
        <div class="spread my-3 my-lg-5 pt-3 pt-lg-5">
            <h4 class="text-responsive-24 text-500 lh-lg sofia-pro-heading">
                <div id=content-65e34e15633cf></div>
                <script
                    src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                <script>
                    (function () {
                        let content = `&lt;p&gt;Axion Trade offers &lt;span style=&quot;color: #0354ff;&quot;&gt;two types of spread&lt;/span&gt;&amp;nbsp;to our clients:&lt;/p&gt;`;
                        let clean = DOMPurify.sanitize(_.unescape(content));
                        let el = document.getElementById('content-65e34e15633cf');
                        el.innerHTML = clean;
                    })();
                </script>
            </h4>
            <div class="row mb-4">
                <h5 class="text-responsive-20 text-500 sofia-pro-heading">Variable Spreads</h5>
                <h6 class="lh-lg text-responsive-18">Variable Spreads on the Axion Trade MT4 platform are
                    derived from our Tier-1 Liquidity Providers in Equinix LD4 (a FX-specific data center in
                    London). There are no commissions charged for trade execution, but a brokerage fee is
                    collected from the spreads.</h6>
            </div>
            <div class="row mb-4">
                <h5 class="text-responsive-20 text-500 sofia-pro-heading">ECN Spreads</h5>
                <h6 class="lh-lg text-responsive-18">ECN Spreads are derived from an Electronic Communication
                    Network (ECN) that is set up with multiple Liquidity Providers, including banks and hedge
                    funds in Equinix LD4 (a FX-specific data center in London). Traders get to enjoy raw spreads
                    for as low as 0.0 pips for EURUSD direct from the market participants at a flat fee of as
                    low as 0.50 USD per lot in commission charged for Forex instruments.</h6>
            </div>
        </div>
    </div>
    <div class="compare my-3 my-lg-5 pt-3 pt-lg-5">
        <h4 class="container-xl text-responsive-24 text-500 sofia-pro-heading lh-lg">Variable Spreads &amp; ECN
            Spreads Comparison:</h4>
        <div class="container-xl table-responsive">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr height="40px" class="fs-4 align-middle">
                        <th scope="col" class="p-3 compare-section"></th>
                        <th scope="col" class="p-3 text-responsive-24 text-500 sofia-pro-heading">Variable
                            Spreads</th>
                        <th scope="col" class="p-3 text-responsive-24 text-500 sofia-pro-heading">ECN Spreads
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr height="67px" class="fs-6">
                        <th scope="row" class="p-3 text-responsive-18 compare-section">Straight Through
                            Processing (STP)</th>
                        <td class="p-3 text-responsive-18">Tier One Liquidty Providers</td>
                        <td class="p-3 text-responsive-18">Electronic Communication Network (ECN)</td>
                    </tr>
                    <tr height="67px" class="fs-6">
                        <th scope="row" class="p-3 text-responsive-18 compare-section">Pricing</th>
                        <td class="p-3 text-responsive-18">Variable Spread</td>
                        <td class="p-3 text-responsive-18">Raw ECN spread direct from market as low as 0.0 pips
                            for EUR USD</td>
                    </tr>
                    <tr height="67px" class="fs-6">
                        <th scope="row" class="p-3 text-responsive-18 compare-section">Commission</th>
                        <td class="p-3 text-responsive-18">No Commission Charged</td>
                        <td class="p-3 text-responsive-18">Flat fee as low as 0.50 USD per lot commission for
                            Forex instruments</td>
                    </tr>
                    <tr height="67px" class="fs-6">
                        <th scope="row" class="p-3 text-responsive-18 compare-section">Brokerage Fee</th>
                        <td class="p-3 text-responsive-18">Fees are included in the spread</td>
                        <td class="p-3 text-responsive-18">No additional markups on the spread</td>
                    </tr>
                    <tr height="67px" class="fs-6">
                        <th scope="row" class="p-3 text-responsive-18 compare-section">Advantage</th>
                        <td class="p-3 text-responsive-18">No Additional fees are charged</td>
                        <td class="p-3 text-responsive-18">Raw spreads direct from the market</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


{%endblock %}