{% extends "forex/base.html" %}

{% block home %}



  <div class="main-page mt-lg-5">
      <div class="landing text-center d-flex flex-column justify-content-center container-xl">
        <div class="container-xl">
          <h1 class="title mt-5 fw-bold sofia-pro-heading text-responsive-48">
            Simple. Reliable. Innovative.
          </h1>
          <h4 class="content grey-text text-responsive-24 lh-lg text-normal">
            Get access to 100+ different markets with over 1,000+ market instruments when you trade with Axion Trade.
          </h4>
          <div class="cta mt-5 d-flex gap-3 justify-content-center">
            <a href=https://register.axiontrade.net/account/live/step-1 target="_blank">
              <button type="button" class="blue-btn btn text-white text-responsive-16">Start Trading</button>
            </a>
            <a href=https://secure.axiontrade.net/account/demo target="_blank">
              <button type="button" class="sec-btn btn text-white text-responsive-16">Try a Demo Account</button>
            </a>
          </div>
        </div>
        <div class="graph py-5 px-0 container-xl d-flex justify-content-center">
          <div class="container-xl row align-content-center row-cols-2 row-cols-md-4 g-2">
            <div class="col">
              <div class="shadow bg-white rounded p-2 p-md-3">
                <div class="text-start">
                  <h2 class="fw-bold text-responsive-36">10,000+</h2>
                  <div class="fw-bold text-responsive-18-12-10" style="color: #0354FF">Clients</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="shadow bg-white rounded p-2 p-md-3">
                <div class="text-start">
                  <h2 class="fw-bold text-responsive-36">10,000,000+</h2>
                  <div class="fw-bold text-responsive-18-12-10" style="color: #FF2929">Trade Executed</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="shadow bg-white rounded p-2 p-md-3">
                <div class="text-start">
                  <h2 class="fw-bold text-responsive-36">30+</h2>
                  <div class="fw-bold text-responsive-18-12-10" style="color: #08D735">Countries</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="shadow bg-white rounded p-2 p-md-3">
                <div class="text-start">
                  <h2 class="fw-bold text-responsive-36">100+</h2>
                  <div class="fw-bold text-responsive-18-12-10" style="color: #B310EC">Employees Globally</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="partner-carousel align-items-center w-100 my-5">
        <div class="p-4">
          <div class="logos d-flex row row-cols-4 justify-content-center">
            <div class="logo-item col single-line"><a
                href="https://www.benzinga.com/pressreleases/21/09/ac22779770/axion-trade-to-offer-prime-brokerage-services-in-asia"
                target="_blank"><img src="https://axiontrade.net/assets/benzinga.png" height="100%" width="100%"></a>
            </div>
            <div class="logo-item col single-line"><a
                href="https://www.bloomberg.com/press-releases/2021-09-02/axion-trade-to-offer-prime-brokerage-services-in-asia"
                target="_blank"><img src="https://axiontrade.net/assets/bloomberg.png" height="100%" width="100%"></a>
            </div>
            <div class="logo-item col single-line"><a
                href="https://markets.businessinsider.com/news/stocks/axion-trade-continues-expansion-into-apac-to-offer-clients-sign-up-bonuses-and-competitive-spreads-1030503846"
                target="_blank"><img src="https://axiontrade.net/assets/business_insider.png" height="100%"
                  width="100%"></a></div>
            <div class="logo-item col single-line"><a href="https://www.jinse.com/news/blockchain/910811.html"
                target="_blank"><img src="https://axiontrade.net/assets/jinse.png" height="100%" width="100%"></a></div>
            <div class="logo-item col single-line"><a href="https://www.sohu.com/a/423597888_120838598"
                target="_blank"><img src="https://axiontrade.net/assets/sohu.png" height="100%" width="100%"></a></div>
            <div class="logo-item col single-line"><a
                href="https://finance.yahoo.com/news/axion-trade-continues-expansion-apac-131500416.html?guccounter=1&amp;guce_referrer=aHR0cHM6Ly9heGlvbnRyYWRlLm5ldC8&amp;guce_referrer_sig=AQAAAD0wxsge4J8lhqvjmGl85PBGzHZnwPHpoD9YlggvRtWTZwPO3NK4m6ZHLSUH1v5Oxl6i7ee3nfP-9drtTI87KL171I4Hc7AF_vIRxf4dWSdO6RBAu85iKV0rcDrqdJ6i1cQ3Hk1ksdxHp1AZ2wXXx5Q7BFuE5nlGfHbGEZTxcJgs"
                target="_blank"><img src="https://axiontrade.net/assets/yahoo.png" height="100%" width="100%"></a></div>
            <div class="logo-item col single-line"><a
                href="https://www.forbes.com/sites/piasilva/2021/12/10/how-to-best-diversify-your-investments-even-when-the-market-seems-uncertain/?sh=c27e2b32309a"
                target="_blank"><img src="https://axiontrade.net/assets/forbes.png" height="100%" width="100%"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container-xl text-center my-5">
        <h1 class="section-title m-auto lh-base text-500 sofia-pro-heading text-responsive-48">
          <div id=content-65e34518500bd></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Why Axion Trade Should &lt;br /&gt;Be Your &lt;span style=&quot;color: #0354ff;&quot;&gt;Preferred&lt;/span&gt; Brokerage&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e34518500bd');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <div class="container-xl preferred-section row row-cols-1 row-cols-sm-3 my-5">
          <div class="col card my-3 my-xl-5 px-2" style="border: unset;">
            <div class="card-img-top mb-2 mb-xl-5">
              <img src=https://axiontrade.net/assets/client_focus_icon.png width="77" height="108">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">Client Focused</h5>
              <p class="card-text text-responsive-16 grey-text lh-base">Enjoy a comprehensive trading experience with
                us, trade anytime, anywhere</p>
            </div>
          </div>
          <div class="col card my-3 my-xl-5 px-2" style="border: unset;">
            <div class="card-img-top mb-2 mb-xl-5">
              <img src=https://axiontrade.net/assets/superior_icon.png width="77" height="108">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">Superior Trading Experience
              </h5>
              <p class="card-text text-responsive-16 grey-text lh-base">Quality trade execution, risk management and
                transparent pricing</p>
            </div>
          </div>
          <div class="col card my-3 my-xl-5 px-2" style="border: unset;">
            <div class="card-img-top mb-2 mb-xl-5">
              <img src=https://axiontrade.net/assets/convenient_withdraw_icon.png width="77" height="108">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">Convenient Withdrawals</h5>
              <p class="card-text text-responsive-16 grey-text lh-base">Fast and easy, secured payments and withdrawals
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-xl text-start instrument my-5">
        <h1 class="section-title display-5 lh-base mb-3 pt-5 text-500 sofia-pro-heading text-responsive-48">
          <div id=content-65e3451850119></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Trade Your Favourite &lt;span style=&quot;color: #0354ff;&quot;&gt;Instruments&lt;/span&gt; &lt;br /&gt;From Around The World&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e3451850119');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <div class="row row-cols-1 row-cols-xl-2">
          <div class="col row row-cols-1 row-cols-sm-2 row-cols-xl-1 align-items-center align-self-center">
            <div class="col">
              <div class="d-flex flex-row py-5 px-2 gap-3" style="border: unset;">
                <div class="mb-5">
                  <img class="p-3 shadow icon-rounded" src=https://axiontrade.net/assets/forex_pairs_icon.png width="87"
                    height="87">
                </div>
                <div class="d-flex flex-column body">
                  <h5 class="title sofia-pro-heading text-responsive-24 text-500">Forex Pairs</h5>
                  <p class="text text-responsive-16">Trade on the strength of one currency versus another on the largest
                    and most liquid market in the world.</p>
                  <a class="text text-responsive-16" href=https://axiontrade.net/en/market/forex>Learn More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row py-5 px-2 gap-3" style="border: unset;">
                <div class="mb-5">
                  <img class="p-3 shadow icon-rounded" src=https://axiontrade.net/assets/indices_icon.png width="87"
                    height="87">
                </div>
                <div class="d-flex flex-column body">
                  <h5 class="title sofia-pro-heading text-responsive-24 text-500">Indices</h5>
                  <p class="text text-responsive-16">Trade on a basket of top shares representing the performance of a
                    country’s economy.</p>
                  <a class="text text-responsive-16" href=https://axiontrade.net/en/market/indices>Learn More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row py-5 px-2 gap-3" style="border: unset;">
                <div class="mb-5">
                  <img class="p-3 shadow icon-rounded" src=https://axiontrade.net/assets/commodities_icon.png width="87"
                    height="87">
                </div>
                <div class="d-flex flex-column body">
                  <h5 class="title sofia-pro-heading text-responsive-24 text-500">Commodities</h5>
                  <p class="text text-responsive-16">Speculate on the price of all the most popular commodities,
                    including gold, silver, oil and natural gas.</p>
                  <a class="text text-responsive-16" href=https://axiontrade.net/en/market/commodities>Learn More</a>
                </div>
              </div>
            </div>
            <div class="d-block d-xl-none col pb-16-9 background-image-contain"
              style="background-image: url('assets/instrument_Illu.png')">
            </div>
          </div>
          <div class="d-none d-sm-none d-xl-block col pb-16-9 background-image-contain"
            style="background-image: url('assets/instrument_Illu.png')">
          </div>
        </div>
      </div>

      <div class="program container-xl my-5">
        <div
          class="container-xl row row-cols-1 row-cols-xl-2 flex-xl-row-reverse align-items-center gy-5 gy-xl-0 gx-xl-5">
          <div class="col row-cols-1">
            <h1 class="col text-500 display-5 lh-1 mb-3 text-500 sofia-pro-heading text-responsive-48">
              <div id=content-65e3451850171></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Axion Trader&lt;sup&gt;TM&lt;/sup&gt; &lt;span style=&quot;color: #0354ff;&quot;&gt;Program&lt;/span&gt;&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e3451850171');
                  el.innerHTML = clean;
                })();
              </script>
            </h1>
            <h5 class="col lead lh-lg text-responsive-20">
              <div id=content-65e34518501b0></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Get funding from our parter hedge funds to kickstart your professional trading career. &lt;br /&gt;Show us your trading skills and receive up to USD $500,000 to fast track your career to become a Professional Trader.&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e34518501b0');
                  el.innerHTML = clean;
                })();
              </script>
            </h5>
            <a href=https://axiontrade.net/en/account/axion-trader class="col text-decoration-none d-flex mt-3 mt-md-0">
              <button type="button" class="blue-btn btn text-white text-responsive-16">Learn More</button>
            </a>
          </div>
          <div class="col d-none d-xl-block">
            <img src=https://axiontrade.net/assets/partners_logos.png class="d-block mx-xl-auto img-fluid w-100"
              width="100%" height="100%">
          </div>
          <div class="col d-block d-xl-none">
            <img src=https://axiontrade.net/assets/partners_logos_tab.png class="d-block mx-xl-auto img-fluid w-100"
              width="100%" height="100%">
          </div>
        </div>
      </div>



      <div class="post-event container-xl my-5">
        <h1 class="section-title text-500 sofia-pro-heading text-responsive-48">
          <div id=content-65e345185022e></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Posts &amp;amp; &lt;span style=&quot;color: #0354ff;&quot;&gt;Events&lt;/span&gt;&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e345185022e');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <div class="row row-cols-1 row-cols-md-2 mb-3">
          <p class="col my-auto text-responsive-20 grey-text col-md-8">Get updated to our latest activities and events.
          </p>
          <a href=https://axiontrade.net/en/post
            class="col text-decoration-none d-flex justify-content-md-end mt-3 mt-md-0 col-md-4">
            <button type="button" class="blue-btn btn text-white text-responsive-16">View More</button>
          </a>
        </div>


        <div class="d-flex flex-row gap-3 w-100 post-row">
        </div>
      </div>

      <div class="container-xl awards my-5">
        <div class="row slide-comp">
          <div class="d-flex mb-3">
            <div class="d-flex flex-column align-items-baseline">
              <h1 class="text-500 display-5 lh-1 title text-500 sofia-pro-heading text-responsive-48 ">
                <div id=content-65e345185057a></div>
                <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                <script>
                  (function () {
                    let content = `&lt;p&gt;Our &lt;span style=&quot;color: #0354ff;&quot;&gt;Awards&lt;/span&gt;&lt;/p&gt;`;
                    let clean = DOMPurify.sanitize(_.unescape(content));
                    let el = document.getElementById('content-65e345185057a');
                    el.innerHTML = clean;
                  })();
                </script>
              </h1>
              <h5 class="mt-3 mb-0 text-responsive-20 grey-text">The achivements we earnt throughout the journey with
                Axion Trade</h5>
            </div>
            <div class="flex-grow-1 float-end slide-button d-flex justify-content-end gap-2 align-items-end"
              id=btn-1602571193></div>
          </div>
          <div class="slide" id=slide-2005942574>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2015-forex-newcomer-of-the-year-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2016-most-secure-fx-broker-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2016-top-b2b-fx-broker-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2017-most-reliable-forex-broker-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2018-best-24-7-client-support-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2018-best-execution-broker-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2018-most-secured-fx-broker-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2019-best-apac-introducing-broker-programme-2019-300x300.png)">
              </div>
            </div>
            <div class=" awards-slide ">
              <div class="background-image-cover pb-square "
                style="background-image: url(https://axiontrade.net/assets/dummy/2019-best-trading-platform-300x300.png)">
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="contact-section position-relative d-none d-xl-block" id="contact-section-pc">
        <div style="background-image: url(https://axiontrade.net/assets/dummy/map/Europe.png)" id="bg-contact-pc"
          class="w-100 contact-bg position-absolute background-image-cover"></div>
        <div class="container-xl d-flex flex-lg-row flex-sm-column-reverse gap-4 h-100 position-relative">
          <div class="form w-100 bg-white shadow rounded p-5">
            <h2 class="text-responsive-48">
              <div id=content-65e34518506ef></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Contact &lt;span style=&quot;color: #0354ff;&quot;&gt;Us&lt;/span&gt;&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e34518506ef');
                  el.innerHTML = clean;
                })();
              </script>
            </h2>
            <p class="mb-5 grey-text text-responsive-20">Please use the live chat if you have any questions about our
              services, enquiries or any other matters. Alternatively, we can be reached via email or visit our office.
            </p>
            <form method="post" id="contactForm" name="contactForm" onsubmit="onContactFormSubmit(event)">
              <input type="hidden" name="_token" value="nFHkkkdFALuffehFYemvJaZiKFq9M2pETMILbkHV">
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16" for="name">
                    Name
                  </label>
                  <input name="name" class="form-control" id="name" type="text" required="required">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16" for="email">
                    Email
                  </label>
                  <input name="email" class="form-control" id="email" type="email" required="required">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                    for="message">
                    Message
                  </label>
                  <textarea class="form-control" name="message" cols="30" rows="3" required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-md-4 col-form-label text-responsive-16"
                    for="captcha">
                    Captcha
                  </label>
                  <div class="col-form-label pt-0">
                    <div class="captcha-content" role="button" style="height: 46px;"></div>

                  </div>
                  <input name="captcha" class="form-control" id="captcha" type="text" required="required">
                </div>
              </div>
              <button type="submit"
                class="contact-submit-btn btn blue-btn text-white rounded py-2 px-4 mt-3 text-responsive-16">
                Submit
              </button>
            </form>

          </div>
          <div class="map w-100 d-flex flex-column justify-content-between">
            <ul class="nav nav-pills gap-3 pt-sm-3" id="myTab" role="tablist">
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/Europe.png')"
                  class="nav-link text-responsive-16" id="eu-tab" data-bs-toggle="tab" href="#eu" role="tab"
                  aria-controls="eu" aria-selected="true">Europe</a>
              </li>
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/USA.png')"
                  class="nav-link text-responsive-16" id="am-tab" data-bs-toggle="tab" href="#am" role="tab"
                  aria-controls="am" aria-selected="true">America</a>
              </li>
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/Australia.png')"
                  class="nav-link text-responsive-16" id="asia-tab" data-bs-toggle="tab" href="#asia" role="tab"
                  aria-controls="asia" aria-selected="true">Asia &amp; Pacific</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="eu" role="tabpanel" aria-labelledby="eu-tab">
                <button type="button" class="sec-btn btn text-white mb-3">
                  <a href=https://www.google.com/maps/place/Regus+-+Crawley,+Station+Way+-+Pinnacle/@51.1128369,-0.189599,17z/data=!3m2!4b1!5s0x4875f1e654814763:0x2fdc959adf7a9652!4m5!3m4!1s0x4875ee1e42e2a13f:0x7b7eb413a014a5f4!8m2!3d51.1128369!4d-0.1874103
                    target="_blank" class="text-decoration-none text-white text-responsive-16">
                    View on Google Maps
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </button>
                <div class="h-75">
                  <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                  <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                    <h4 id="loc" class="loc-title text-responsive-24">United Kingdom (Europe)</h4>
                    <p id="locDetail" class="locDetail text-responsive-16">3rd Floor, The Pinnacle, Central Court,
                      Station Way, Crawley, West Sussex, United Kingdom, RH10 1JH</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="am" role="tabpanel" aria-labelledby="am-tab">
                <button type="button" class="sec-btn btn text-white mb-3">
                  <a href=https://www.google.com/maps/place/1099+18th+St+UNIT+2900,+Denver,+CO+80202,+USA/@39.7496334,-104.9947414,17z/data=!3m1!4b1!4m5!3m4!1s0x876c78da312d255f:0xa07fec4bd91b4b2c!8m2!3d39.7496334!4d-104.9925527
                    target="_blank" class="text-decoration-none text-white text-responsive-16">
                    View on Google Maps
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </button>
                <div class="h-75">
                  <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                  <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                    <h4 id="loc" class="loc-title text-responsive-24">United States (America)</h4>
                    <p id="locDetail" class="locDetail text-responsive-16">1099 18th St Suite 2900, Denver, Colorado
                      80202, USA</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="asia" role="tabpanel" aria-labelledby="asia-tab">
                <button type="button" class="sec-btn btn text-white mb-3">
                  <a href=https://www.google.com/maps/place/45%2F53+Clarence+St,+Sydney+NSW+2000,+Australia/@-33.8646468,151.2022734,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12ae412ca5605f:0x67621bf55766d504!8m2!3d-33.8646468!4d151.2044621
                    target="_blank" class="text-decoration-none text-white text-responsive-16">
                    View on Google Maps
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </button>
                <div class="h-75">
                  <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                  <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                    <h4 id="loc" class="loc-title text-responsive-24">Australia (Asia &amp; Pacific)</h4>
                    <p id="locDetail" class="locDetail text-responsive-16">45-53 Clarence St Suite 903, Level 9, Sydney,
                      NSW 2000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-section d-block d-xl-none" id="contact-section-mobile">
        <div style="background-image: url(https://axiontrade.net/assets/dummy/map/Europe.png)" id="contact-mobile"
          class="w-100 background-image-cover-position-right p-3">
          <div class="map w-100 d-flex flex-column justify-content-between">
            <ul class="nav nav-pills gap-3 pt-md-3 mt-md-0" id="myTab" role="tablist">
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/Europe.png')"
                  class="nav-link text-responsive-16 tab-btn" id="eu-tab-mobile" data-bs-toggle="tab" href="#eu-mobile"
                  role="tab" aria-controls="eu-mobile" aria-selected="true">Europe</a>
              </li>
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/USA.png')"
                  class="nav-link text-responsive-16 tab-btn" id="am-tab-mobile" data-bs-toggle="tab" href="#am-mobile"
                  role="tab" aria-controls="am-mobile" aria-selected="true">America</a>
              </li>
              <li class="nav-item " role="presentation">
                <a onclick="changeBg('https://axiontrade.net/assets/dummy/map/Australia.png')"
                  class="nav-link text-responsive-16 tab-btn" id="asia-tab-mobile" data-bs-toggle="tab"
                  href="#asia-mobile" role="tab" aria-controls="asia-mobile" aria-selected="true">Asia &amp; Pacific</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="contact-details">
          <div class="tab-content p-3 mobile-tab-content position-relative" id="myTabContent">
            <div class="tab-pane fade" id="eu-mobile" role="tabpanel" aria-labelledby="eu-tab-mobile">
              <div class="row flex-column flex-md-column-reverse gap-3">
                <div class="col">
                  <button type="button" class="sec-btn btn text-white mb-3">
                    <a href=https://www.google.com/maps/place/Regus+-+Crawley,+Station+Way+-+Pinnacle/@51.1128369,-0.189599,17z/data=!3m2!4b1!5s0x4875f1e654814763:0x2fdc959adf7a9652!4m5!3m4!1s0x4875ee1e42e2a13f:0x7b7eb413a014a5f4!8m2!3d51.1128369!4d-0.1874103
                      target="_blank" class="text-decoration-none text-white text-responsive-16">
                      View on Google Maps
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </button>
                </div>
                <div class="col">
                  <div class="address-detail">
                    <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                    <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                      <h4 id="loc" class="loc-title text-responsive-24">United Kingdom (Europe)</h4>
                      <p id="locDetail" class="locDetail text-responsive-16">3rd Floor, The Pinnacle, Central Court,
                        Station Way, Crawley, West Sussex, United Kingdom, RH10 1JH</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="am-mobile" role="tabpanel" aria-labelledby="am-tab-mobile">
              <div class="row flex-column flex-md-column-reverse gap-3">
                <div class="col">
                  <button type="button" class="sec-btn btn text-white mb-3">
                    <a href=https://www.google.com/maps/place/1099+18th+St+UNIT+2900,+Denver,+CO+80202,+USA/@39.7496334,-104.9947414,17z/data=!3m1!4b1!4m5!3m4!1s0x876c78da312d255f:0xa07fec4bd91b4b2c!8m2!3d39.7496334!4d-104.9925527
                      target="_blank" class="text-decoration-none text-white text-responsive-16">
                      View on Google Maps
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </button>
                </div>
                <div class="col">
                  <div class="address-detail">
                    <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                    <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                      <h4 id="loc" class="loc-title text-responsive-24">United States (America)</h4>
                      <p id="locDetail" class="locDetail text-responsive-16">1099 18th St Suite 2900, Denver, Colorado
                        80202, USA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="asia-mobile" role="tabpanel" aria-labelledby="asia-tab-mobile">
              <div class="row flex-column flex-md-column-reverse gap-3">
                <div class="col">
                  <button type="button" class="sec-btn btn text-white mb-3">
                    <a href=https://www.google.com/maps/place/45%2F53+Clarence+St,+Sydney+NSW+2000,+Australia/@-33.8646468,151.2022734,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12ae412ca5605f:0x67621bf55766d504!8m2!3d-33.8646468!4d151.2044621
                      target="_blank" class="text-decoration-none text-white text-responsive-16">
                      View on Google Maps
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </button>
                </div>
                <div class="col">
                  <div class="address-detail">
                    <h4 class="fw-bold mb-2 text-responsive-24">Our Address</h4>
                    <div class="add-border px-3 lh-base d-flex flex-column justify-content-center ">
                      <h4 id="loc" class="loc-title text-responsive-24">Australia (Asia &amp; Pacific)</h4>
                      <p id="locDetail" class="locDetail text-responsive-16">45-53 Clarence St Suite 903, Level 9,
                        Sydney, NSW 2000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form w-100 bg-white rounded container-xl pb-3">
            <h2 class="text-responsive-48">
              <div id=content-65e3451850ebb></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `&lt;p&gt;Contact &lt;span style=&quot;color: #0354ff;&quot;&gt;Us&lt;/span&gt;&lt;/p&gt;`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e3451850ebb');
                  el.innerHTML = clean;
                })();
              </script>
            </h2>
            <p class="mb-5 grey-text text-responsive-20" id="contact-mobile">Please use the live chat if you have any
              questions about our services, enquiries or any other matters. Alternatively, we can be reached via email
              or visit our office.</p>
            <form method="post" id="contactForm" name="contactForm" onsubmit="onContactFormSubmit(event)">
              <input type="hidden" name="_token" value="nFHkkkdFALuffehFYemvJaZiKFq9M2pETMILbkHV">
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16" for="name">
                    Name
                  </label>
                  <input name="name" class="form-control" id="name" type="text" required="required">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16" for="email">
                    Email
                  </label>
                  <input name="email" class="form-control" id="email" type="email" required="required">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-form-label text-responsive-16"
                    for="message">
                    Message
                  </label>
                  <textarea class="form-control" name="message" cols="30" rows="3" required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="block font-medium text-sm text-gray-700 col-md-4 col-form-label text-responsive-16"
                    for="captcha">
                    Captcha
                  </label>
                  <div class="col-form-label pt-0">
                    <div class="captcha-content" role="button" style="height: 46px;"></div>

                  </div>
                  <input name="captcha" class="form-control" id="captcha" type="text" required="required">
                </div>
              </div>
              <button type="submit"
                class="contact-submit-btn btn blue-btn text-white rounded py-2 px-4 mt-3 text-responsive-16">
                Submit
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}