{% extends "forex/base.html" %}

{% block home %}

<div class="institutional-account-page container-xl">

    <div class="head my-5 my-lg-5">
      <div class="col d-flex flex-column align-items-center align-items-sm-start m-0 mt-sm-5">
        <h1 class="h-title text-center text-sm-start sofia-pro-heading text-responsive-32 fw-bold lh-lg">
          <div id=content-65e35652f2cf2></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Institutional Account`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35652f2cf2');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <h4 class="h-content text-center text-sm-start lh-base text-responsive-20">
          <div id=content-65e35652f2d36></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `account.institutional.header.content`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35652f2d36');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <div class="cta mt-4 mt-sm-3 mt-lg-3 g-2 d-flex gap-3">
          <a href=https://register.axiontrade.net/account/live/step-1>
            <button type="button" class="blue-btn btn text-white">Start Trading</button>
          </a>
          <a href=https://secure.axiontrade.net/account/demo>
            <button type="button" class="sec-btn btn text-white">Try a Demo Account</button>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-5 py-3">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e35652f2d7c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `account.institutional.about.title`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35652f2d7c');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35652f2db3></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `account.institutional.about.content`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35652f2db3');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>


    <div class="settings my-5">
      <h4 class="fw-bold lh-lg text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e35652f2df0></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Account &lt;span style=&quot;color: #0354ff;&quot;&gt;Settings&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35652f2df0');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg mb-5 text-responsive-18">
        <div id=content-65e35652f2e35></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `account.institutional.settings.content`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35652f2e35');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <div class="spec row row-cols-1 row-cols-md-1 row-cols-lg-1 g-5 align-items-center mx-0">
        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Account Leverage</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.leverage.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f2f0a></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.leverage.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f2f0a');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Commissions</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.commissions.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f2fbc></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.commissions.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f2fbc');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Spreads</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.spreads.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f305e></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.spreads.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f305e');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Minimum Deposit</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.deposit.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f30fb></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.deposit.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f30fb');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Slippage Insurance</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.insurance.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f3198></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.insurance.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f3198');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Negative Balance Protection</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.institutional.settings.protection.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35652f3234></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.institutional.settings.protection.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35652f3234');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

      </div>
    </div>
  </div>


{% endblock %}