{% extends "forex/base.html" %}

{% block home %}
<div class="broker-page container-xl">

    <div class="head my-5 my-lg-5 pt-3">
      <div class="row flex-sm-row-reverse row-cols-1 align-items-center g-5">
        <div class="col d-flex flex-column align-items-sm-start m-0 mt-sm-5">
          <h1 class="h-title text-500 sofia-pro-heading text-responsive-32 lh-lg">Introducing Broker</h1>
          <h4 class="h-content text-start lh-base text-responsive-20 grey-text">Invite traders and earn a commission
            of up to $12 per standard lot from their trades!</h4>
        </div>
      </div>
      <a href=https://register.axiontrade.net/account/partner/step-1 target="_blank">
        <button type="button" class="blue-btn btn px-4 text-white mt-4 mb-2">Start Earning Now</button>
      </a>
    </div>

    <div class="my-3 my-lg-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35bbd994ed></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;What is an &lt;span style=&quot;color: #0354ff;&quot;&gt;Introducing Broker or IB?&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd994ed');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35bbd9954c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Introducing Brokers (IBs) are companies or individuals across the globe who make money by introducing clients to Axion Trade. In return for referring clients to Axion Trade, our Introducing Brokers receive a commission.&lt;/p&gt;
&lt;p&gt;Becoming an Introducing Broker can be the easiest method to increase your income, as there&amp;rsquo;s no cost to sign up. As an IB you can work from anywhere, even promoting your services through a website. You&amp;rsquo;re able to refer traders directly to Axion Trade, guide them with the live account opening process and explain all the benefits of being a Axion Trade Client.&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd9954c');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="my-3 my-lg-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35bbd9959d></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Why should you become an &lt;span style=&quot;color: #0354ff;&quot;&gt;Axion Trade Introducing Broker?&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd9959d');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35bbd995ed></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;ul&gt;
&lt;li&gt;Get paid a spread rebate of up to $12 per standard lot for Zero Commission Accounts, and a commission rebate of USD 2.00 per standard lot on Standard (ECN) Accounts.&lt;/li&gt;
&lt;li&gt;Every FX and Commodity trade generated by your referral will earn you commission.&lt;/li&gt;
&lt;li&gt;Access our intuitive IB room with advanced fund and account management tools.&lt;/li&gt;
&lt;li&gt;Utilise the huge range of ready-made advertising material to effectively attract new clients.&lt;/li&gt;
&lt;li&gt;Work with a broker that offers ultimate transparency!&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;A low barrier to entry combined with a highly competitive volume based rebate structure makes Axion Trade ideal for introducers regardless of account size or traded volume.&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd995ed');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="my-3 my-lg-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35bbd99638></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Key features of our &lt;span style=&quot;color: #0354ff;&quot;&gt;Introducing Broker program&amp;nbsp;&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd99638');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35bbd99692></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;ul&gt;
&lt;li&gt;An attractive rebate program&lt;/li&gt;
&lt;li&gt;Lowest spreads on the market due to our partnership with top tier liquidity providers. (EURUSD from 0.0 pips and Gold from 0.4 pips)&lt;/li&gt;
&lt;li&gt;NFA &amp;amp; ASIC licensed and regulated Broker&lt;/li&gt;
&lt;li&gt;Personal IB account managers&lt;/li&gt;
&lt;li&gt;Simple client onboarding&lt;/li&gt;
&lt;li&gt;MetaTrader 4 &amp;amp; 5 &amp;amp; TraderEvolution Mobile Trading Platforms&lt;/li&gt;
&lt;li&gt;Commissions paid into a trading account in real time&lt;/li&gt;
&lt;li&gt;Marketing material in a variety of different languages&lt;/li&gt;
&lt;li&gt;Advanced cookie tracking and web reporting&lt;/li&gt;
&lt;li&gt;Track every click, impression, and registration&lt;/li&gt;
&lt;/ul&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd99692');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>
    <div class="my-3 my-lg-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35bbd996dd></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Full Customisation for &lt;span style=&quot;color: #0354ff;&quot;&gt;Master Introducing Brokers (Master IB)&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd996dd');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35bbd99725></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `A Master Introducing Broker has the added benefit of applying additional spread and commission mark-ups to earn additional revenue from their clients trading activity, along with the added option to refer subsidiary Introducing Brokers under their IB Tree. This program is specifically designed for Introducers with greater than 50 clients and who provide additional value/services to their clients. For more information, contact your Account Manager or send an email to partnerships@axiontrade.net, and our IB specialist will get in touch with you.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd99725');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <h6 class="text-responsive-18 text-600 my-3">Eligible Master Introducing Brokers include:</h6>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35bbd99772></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;ul&gt;
&lt;li&gt;Licensed Investment Advisors&lt;/li&gt;
&lt;li&gt;EA Vendors/Developers&lt;/li&gt;
&lt;li&gt;Money Managers&lt;/li&gt;
&lt;li&gt;Website owners&lt;/li&gt;
&lt;li&gt;Trading Educators&lt;/li&gt;
&lt;li&gt;Signal Providers&lt;/li&gt;
&lt;li&gt;Existing Introducing Brokers from another brokerage with subsidiary IBs under their IB Tree&lt;/li&gt;
&lt;/ul&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd99772');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>


    <div class="work mt-5 py-2">
      <h4 class="sofia-pro-heading text-500 text-responsive-24">
        <div id=content-65e35bbd997bb></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;How does it &lt;span style=&quot;color: #0354ff;&quot;&gt;work?&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd997bb');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18 grey-text">
        <div id=content-65e35bbd997f9></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `There are the basic steps on how Introducing Broker (IB) work`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35bbd997f9');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <div class="row row-cols-1 row-cols-xl-4 g-3 mt-3">
        <div class="col d-flex flex-row flex-xl-column gap-3 my-3">
          <img class="how-work-icon" src=https://axiontrade.net/assets/affiliates/broker_adv.png>
          <div class="align-self-center">
            <h5 class="mb-2 sofia-pro-heading text-500 text-responsive-20">Advertise</h5>
            <h6 class="m-0 lh-lg text-responsive-16 grey-text ">Using the numerous marketing tools, start attracting
              traders.</h6>
          </div>
        </div>
        <div class="col d-flex flex-row flex-xl-column gap-3 my-3">
          <img class="how-work-icon" src=https://axiontrade.net/assets/affiliates/broker_introduce.png>
          <div class="align-self-center">
            <h5 class="mb-2 sofia-pro-heading text-500 text-responsive-20">Introduce</h5>
            <h6 class="m-0 lh-lg text-responsive-16 grey-text ">Refer traders to Axion Trade with your unique tracking
              number.</h6>
          </div>
        </div>
        <div class="col d-flex flex-row flex-xl-column gap-3 my-3">
          <img class="how-work-icon" src=https://axiontrade.net/assets/affiliates/broker_gain.png>
          <div class="align-self-center">
            <h5 class="mb-2 sofia-pro-heading text-500 text-responsive-20">Gain</h5>
            <h6 class="m-0 lh-lg text-responsive-16 grey-text ">Watch as your account is credited in real-time on a
              trade by trade basis.</h6>
          </div>
        </div>
        <div class="col d-flex flex-row flex-xl-column gap-3 my-3">
          <img class="how-work-icon" src=https://axiontrade.net/assets/affiliates/broker_track.png>
          <div class="align-self-center">
            <h5 class="mb-2 sofia-pro-heading text-500 text-responsive-20">Track</h5>
            <h6 class="m-0 lh-lg text-responsive-16 grey-text ">Automatically track your referred clients in the
              secure IB Portal.</h6>
          </div>
        </div>
      </div>
    </div>
    <a href=https://register.axiontrade.net/account/partner/step-1>
      <button type="button" class="blue-btn btn px-4 text-white mt-2 mb-5 sofia-pro-heading text-responsive-16">Start
        Earning Now</button>
    </a>
  </div>


  {% endblock %}