{% extends "forex/base.html" %}

{% block home %}

<style>
    .card-content {
      border-radius: 16px;
      box-shadow: 0px 8px 20px 0px rgba(131, 154, 203, 0.12)
    }
  </style>
  <style>
    .card-content {
      border-radius: 16px;
      box-shadow: 0px 8px 20px 0px rgba(131, 154, 203, 0.12)
    }
  </style>
  <style>
    .card-content {
      border-radius: 16px;
      box-shadow: 0px 8px 20px 0px rgba(131, 154, 203, 0.12)
    }
  </style>
  <style>
    .card-content {
      border-radius: 16px;
      box-shadow: 0px 8px 20px 0px rgba(131, 154, 203, 0.12)
    }
  </style>


<div class="container-xl text-center my-5">
    <h1 class="section-title m-auto lh-base text-500 sofia-pro-heading text-responsive-48">
      <div id=content-65e35b30877b4></div>
      <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
      <script>
        (function () {
          let content = `&lt;p&gt;Why trade on &lt;span style=&quot;color: #0354ff;&quot;&gt;MetaTrader 4&lt;/span&gt; with Axion Trade?&lt;/p&gt;`;
          let clean = DOMPurify.sanitize(_.unescape(content));
          let el = document.getElementById('content-65e35b30877b4');
          el.innerHTML = clean;
        })();
      </script>
    </h1>
    <p class="sofia-pro-heading text-responsive-24 lh-md grow m-auto" style="color:#667595">
      Online trading with Axion Trade gives you a number of advantages, including utilising leverage and competitive
      spreads. Gain access to 1,000+ financial instruments across a range of markets and trade with a trusted,
      regulated and award-winning broker.</p>
    <div class="img-box m-4 my-lg-5 pt-3 pt-lg-5">
      <div class="row row-cols-1 row-cols-sm-3 g-5">
        <div class="col d-flex flex-column align-items-center text-center gap-3">
          <img src=https://axiontrade.net/assets/platforms/global.png width="85" height="85">
          <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">
            Credibility &amp; Global Recognition</h5>
          <p class="card-text text-responsive-16 grey-text lh-base">10,000+ clients in over 30 countries</p>
        </div>
        <div class="col d-flex flex-column align-items-center text-center gap-3">
          <img src=https://axiontrade.net/assets/platforms/no-fee.png width="85" height="85">
          <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">
            No brokerage fees</h5>
          <p class="card-text text-responsive-16 grey-text lh-base">Enjoy no brokerage fees on classic accounts with
            Axion Trade</p>
        </div>
        <div class="col d-flex flex-column align-items-center text-center gap-3">
          <img src=https://axiontrade.net/assets/platforms/ultra-speed.png width="85" height="85">
          <h5 class="card-title sofia-pro-heading text-responsive-24 text-500 lh-base">
            Ultra-Speed Execution</h5>
          <p class="card-text text-responsive-16 grey-text lh-base">We offer the lowest spreads in the world with
            ultra-speed execution</p>
        </div>
      </div>
    </div>
    <div class="my-4 my-lg-5">
      <div class="spec row row-cols-1 row-cols-xl-2 m-auto g-4" style="height: max-content">
        <div class="col">
          <div class="card-content p-4 text-start h-100 d-flex flex-column">
            <div class="d-flex gap-2 lh-lg align-items-center">
              <h5 class="my-2 text-responsive-20 text-500 sofia-pro-heading">MetaTrader 4 PC Download</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text flex-grow-1">
              <div id=content-65e35b3087c33></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `With high performance and a full suite of features, experience online trading the way it was meant to be with the MT4 PC platform.`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e35b3087c33');
                  el.innerHTML = clean;
                })();
              </script>
            </h6>
            <a href=https://download.metatrader.com/cdn/web/16018/mt4/axiontrade4setup.exe
              class="col text-decoration-none mt-2">
              <button type="button" class="blue-btn btn text-white text-responsive-16 mt-3">Download MT4 for
                PC</button>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-content p-4 text-start h-100 d-flex flex-column">
            <div class="d-flex gap-2 lh-lg align-items-center">
              <h5 class="my-2 text-responsive-20 text-500 sofia-pro-heading">MetaTrader 4 Mac Download</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text flex-grow-1">
              <div id=content-65e35b3087ced></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `With high performance and a full suite of features, experience online trading the way it was meant to be with the MT4 Mac platform.`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e35b3087ced');
                  el.innerHTML = clean;
                })();
              </script>
            </h6>
            <a href=https://www.metatrader4.com/en/trading-platform/help/userguide/install_mac
              class="col text-decoration-none mt-2">
              <button type="button" class="blue-btn btn text-white text-responsive-16 mt-3">Download MT4 for
                Mac</button>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-content p-4 text-start h-100 d-flex flex-column">
            <div class="d-flex gap-2 lh-lg align-items-center">
              <h5 class="my-2 text-responsive-20 text-500 sofia-pro-heading">MetaTrader 4 Android Download</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text flex-grow-1">
              <div id=content-65e35b3087d93></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `Use the world’s most popular trading platform on the world’s most popular smartphone operating system when you download MT4 for Android. Access all the major features, with flexibility and portability.`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e35b3087d93');
                  el.innerHTML = clean;
                })();
              </script>
            </h6>
            <a href=https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4
              class="col text-decoration-none mt-2">
              <button type="button" class="blue-btn btn text-white text-responsive-16 mt-3">Download MT4 for
                Android</button>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card-content p-4 text-start h-100 d-flex flex-column">
            <div class="d-flex gap-2 lh-lg align-items-center">
              <h5 class="my-2 text-responsive-20 text-500 sofia-pro-heading">MetaTrader 4 iPhone Download</h5>
            </div>
            <h6 class="m-0 lh-lg text-responsive-18 grey-text flex-grow-1">
              <div id=content-65e35b3087e44></div>
              <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
              <script>
                (function () {
                  let content = `Optimised for the iOS operating system, the MT4 iOS app offers the ultimate in style and flexibility for traders wanting to combine the features of MT4 with the convenience of mobile trading on their iPhone and iPad.`;
                  let clean = DOMPurify.sanitize(_.unescape(content));
                  let el = document.getElementById('content-65e35b3087e44');
                  el.innerHTML = clean;
                })();
              </script>
            </h6>
            <a href=https://apps.apple.com/us/app/metatrader-4/id496212596 class="col text-decoration-none mt-2">
              <button type="button" class="blue-btn btn text-white text-responsive-16 mt-3">Download MT4 for
                IOS</button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>



{% endblock %}