{% extends "forex/base.html" %}

{% block home %}



<div class="islamic-account-page container-xl">

    <div class="head my-5 my-lg-5">
      <div class="col d-flex flex-column align-items-center align-items-sm-start m-0 mt-sm-5">
        <h1 class="h-title text-center text-sm-start sofia-pro-heading text-responsive-32 fw-bold lh-lg">
          <div id=content-65e357ca14f47></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Islamic Account`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e357ca14f47');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <h4 class="h-content text-center text-sm-start lh-base text-responsive-20">
          <div id=content-65e357ca14f8e></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `account.islamic.header.content`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e357ca14f8e');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <div class="cta mt-4 mt-sm-3 mt-lg-3 g-2 d-flex gap-3">
          <a href=https://register.axiontrade.net/account/live/step-1>
            <button type="button" class="blue-btn btn text-white">Start Trading</button>
          </a>
          <a href=https://secure.axiontrade.net/account/demo>
            <button type="button" class="sec-btn btn text-white">Try a Demo Account</button>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-5 py-3">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e357ca14fd4></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `account.islamic.about.title`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e357ca14fd4');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e357ca1500c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `account.islamic.about.content`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e357ca1500c');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>


    <div class="settings my-5">
      <h4 class="fw-bold lh-lg text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e357ca1504b></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Account &lt;span style=&quot;color: #0354ff;&quot;&gt;Settings&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e357ca1504b');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <div class="spec row row-cols-1 row-cols-md-1 row-cols-lg-1 g-5 align-items-center mx-0">
        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Account Leverage</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.leverage.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca15105></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.leverage.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca15105');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Commissions</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.commissions.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca151ab></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.commissions.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca151ab');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Spreads</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.spreads.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca1524c></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.spreads.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca1524c');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Swap-Free Trading</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.trading.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca152ea></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.trading.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca152ea');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Minimum Deposit</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.deposit.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca15388></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.deposit.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca15388');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Slippage Insurance</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.insurance.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca15480></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.insurance.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca15480');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Negative Balance Protection</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">
              account.islamic.settings.protection.value</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e357ca15529></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `account.islamic.settings.protection.content`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e357ca15529');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

      </div>
    </div>
  </div>
{% endblock %}