{% extends "forex/base.html" %}

{% block home %}
<div class="our-edge container-xl my-5">

    <div class="head my-5 my-lg-5">
      <h1 class="h-title text-center page-title sofia-pro-heading fw-bold text-responsive-48 lh-lg text-700">
        <div id=content-65e35e1b0785f></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `The Axion Edge`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35e1b0785f');
            el.innerHTML = clean;
          })();
        </script>
      </h1>
      <h4 class="h-content text-center lh-base pb-4 text-responsive-24 grey-text">
        <div id=content-65e35e1b078b7></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Why Axion Trade should be your brokerage of choice`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35e1b078b7');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <hr class="divider-hr">
      <div class="container-xl">
        <div class="row row-cols-2 row-cols-md-4 my-3 mt-5 stat-row">
          <div class="col">
            <div class="text-start p-2">
              <h2 class="fw-bold text-center text-responsive-36 text-700">10K+</h2>
              <div class="fw-bold text-center text-responsive-18" style="color: #0354FF">Total Clients</div>
            </div>
          </div>
          <div class="col">
            <div class="text-start p-2">
              <h2 class="fw-bold text-center text-responsive-36 text-700">10M+</h2>
              <div class="fw-bold text-center text-responsive-18" style="color: #0354FF">Trade Executed</div>
            </div>
          </div>
          <div class="col">
            <div class="text-start p-2">
              <h2 class="fw-bold text-center text-responsive-36 text-700">30+</h2>
              <div class="fw-bold text-center text-responsive-18" style="color: #0354FF">Countries</div>
            </div>
          </div>
          <div class="col">
            <div class="text-start p-2">
              <h2 class="fw-bold text-center text-responsive-36 text-700">100+</h2>
              <div class="fw-bold text-center text-responsive-18" style="color: #0354FF">Employees Globally</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-xl mt-3 my-lg-5 pt-3 pt-lg-5">
      <div class="row flex-lg-row-reverse row-cols-1 row-cols-lg-2 align-items-center g-5">
        <div class="col-lg-5 my-3 d-flex justify-content-center">
          <img class="illus" src=https://axiontrade.net/assets/company/recognition_earth.png width="100%">
        </div>
        <div class="col-lg-7 m-0">
          <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e35e1b0792d></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Credibility and &lt;strong style=&quot;color: #0354ff;&quot;&gt;Global Recognition&lt;/strong&gt;&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b0792d');
                el.innerHTML = clean;
              })();
            </script>
          </h4>

          <h6 class="lh-lg text-responsive-18">
            <div id=content-65e35e1b0798a></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Axion Trade has been featured multiple times in globally renown finance websites such as Bloomberg and Forbes, with special mentions on leading news agencies such as Benzinga, Business Insider, Sohu.com and Yahoo! News. Some of our more renown institutional partners include Pictet Asset Management, PineBridge Investments and Penghua Fund, with several of our clientele being high-profile individuals from well-known establishments such as BNP Paribas, DBS, JPMorgan Chase &amp; Co, Morgan Stanley, Maybank and Standard Chartered Bank.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b0798a');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>
      </div>
    </div>

    <div class="my-3 pb-3">
      <h2 class="text-center page-title sofia-pro-heading fw-bold text-responsive-32 lh-lg">
        <div id=content-65e35e1b079d5></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Quadruple Fund &lt;strong style=&quot;color: #0354ff;&quot;&gt;Safety Mechanism&lt;/strong&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35e1b079d5');
            el.innerHTML = clean;
          })();
        </script>
      </h2>
      <h5 class="text-center lh-base pb-xl-4 text-responsive-20 grey-text">
        <div id=content-65e35e1b07a16></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Axion Trade has four layers of fund safety to ensure that our Clients have a peace of mind when trading with Axion Trade`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35e1b07a16');
            el.innerHTML = clean;
          })();
        </script>
      </h5>
      <div class="my-5">
        <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
          <div id=content-65e35e1b07a77></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `The First Layer`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07a77');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <h6 class="lh-lg text-responsive-18 ">
          <div id=content-65e35e1b07ad4></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Insurance against market slippages. Axion Trade provides insurance against market slippages due to trading periods associated with high volatility (market news, black swan events, etc.), limiting a Client&amp;rsquo;s trade losses to a maximum of 2.0 pips between their stop loss price setting and executed fill price, a feature for our Pro and Institutional account holders. For our Standard account holders, Axion Trade guarantees a better price requote should the market slippage be more than 2.0 pips due to a stop-loss execution.&lt;/p&gt;
&lt;p&gt;This service is provided by Axion Trade&amp;rsquo;s legal partner (FSE Law) which provides legal framework for any trade disputes that may arise due to volatile market conditions. This ensures that Clients can trade without worry or fear of potential market manipulation by our liquidity providers (LPs) or electronic communications network (ECN) providers, as all trade disputes will be handled in a timely manner and our Clients getting the refunds (from trade losses arising due to market slippages) that they rightfully deserve.&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07ad4');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
      </div>
      <div class="my-5">
        <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
          <div id=content-65e35e1b07b36></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `The Second Layer`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07b36');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <h6 class="lh-lg text-responsive-18 ">
          <div id=content-65e35e1b07b9b></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Corporate funds and client funds are kept in separate bank accounts. This would ensure that brokerage operational expenses will not be mixed with client funds, thus ensuring a layer of fund safety for our clients.`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07b9b');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
      </div>
      <div class="my-5">
        <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
          <div id=content-65e35e1b07c10></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `The Third Layer`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07c10');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <h6 class="lh-lg text-responsive-18 ">
          <div id=content-65e35e1b07c6a></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Client funds are kept in a third-party custodian account, managed by an independent board of directors and audited by PKF Littlejohn, our strategic partner and auditor. This ensures that there will be no conflict of interest between the Axion Trade business and our Client funds.`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07c6a');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
      </div>
      <div class="my-5">
        <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
          <div id=content-65e35e1b07cb3></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `The Fourth Layer`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07cb3');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <h6 class="lh-lg text-responsive-18 ">
          <div id=content-65e35e1b07cff></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Axion Trade has a professional crime and indemnity insurance facilitated by FSE Law with a S&amp;amp;P Rated &amp;ldquo;AAA&amp;rdquo; insurance company, which insures our Clients against the risk of crime and fraud from our third-party custodians. Our Clients do not have to worry about the absconding of the third-party custodians which may result in a breach of fund safety and resulting in a loss of funds for our Clients as such occurrences are fully insured up to USD 10 million per Client. For more information on the insurance policy, please check out the link &lt;a href=&quot;https://axiontrade.net/assets/company/pdf/Default_Crime_Indemnity_Insurance.pdf&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35e1b07cff');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
      </div>
    </div>

    <div class="container-xl my-3 pt-xl-3">
      <div class="row  row-cols-1 row-cols-lg-2 align-items-center g-5 my-3 my-xl-5 py-2">
        <div class="col-lg-5 m-0 d-flex justify-content-center">
          <img src=https://axiontrade.net/assets/company/ultra.png width="100%" class=" illus">
        </div>
        <div class="col-lg-7 m-0">
          <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e35e1b07d50></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Ultra-Speed &lt;strong style=&quot;color: #0354ff;&quot;&gt;Execution&lt;/strong&gt;&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07d50');
                el.innerHTML = clean;
              })();
            </script>
          </h4>
          <h6 class="lh-lg text-responsive-18">
            <div id=content-65e35e1b07d9d></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Our data centres are located in prime locations all around the Europe and Asia &amp;amp; Pacific region to ensure a seamless trading experience. The data centres are then connected to ultra-high speed servers located in London &amp;ndash; the world&amp;rsquo;s largest financial centre. Through our partnerships with tier-one banks and Equinix, a multibillion-dollar public company listed on NASDAQ, we have spared no expense in ensuring low latency connectivity to our dedicated servers in London. This has ensured network speeds of less than one millisecond.&lt;/p&gt;
&lt;p&gt;This world-class infrastructure is set up to ensure that all clients receive a trading experience like no other. Ultra-speed execution and low latency connection accessible anytime, anywhere.&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07d9d');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>
      </div>
      <div class="row  flex-lg-row-reverse  row-cols-1 row-cols-lg-2 align-items-center g-5 my-3 my-xl-5 py-2">
        <div class="col-lg-5 m-0 d-flex justify-content-center">
          <img src=https://axiontrade.net/assets/company/providers.png width="100%" class=" d-none d-lg-block  illus">
          <img src=https://axiontrade.net/assets/company/provider_tablet.png width="100%" class=" d-lg-none ">
        </div>
        <div class="col-lg-7 m-0">
          <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e35e1b07dea></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Tier One &lt;strong style=&quot;color: #0354ff;&quot;&gt;Liquidity Providers&lt;/strong&gt;&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07dea');
                el.innerHTML = clean;
              })();
            </script>
          </h4>
          <h6 class="lh-lg text-responsive-18">
            <div id=content-65e35e1b07e3f></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `We offer our clients direct market access to the largest financial market in the world with the lowest possible spreads (as low as 0.0 pips for EURUSD and 0.4 pips for Gold). Trades are executed with no requotes. This ensures that all our clients are given the best possible price when they want to buy or sell. We work with some of the biggest liquidity providers in the world to ensure that our clients enjoy price stability at competitive rates. We provide liquidity from some of the biggest global banks and ECNs including Credit Suisse, Citibank, Deutsche Bank, LMAX, Societe Generale, Barclays and J.P. Morgan.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07e3f');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>
      </div>
      <div class="row  row-cols-1 row-cols-lg-2 align-items-center g-5 my-3 my-xl-5 py-2">
        <div class="col-lg-5 m-0 d-flex justify-content-center">
          <img src=https://axiontrade.net/assets/company/dedicated.png width="100%" class=" illus">
        </div>
        <div class="col-lg-7 m-0">
          <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e35e1b07e8d></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;24-Hour &lt;strong style=&quot;color: #0354ff;&quot;&gt;Dedicated Support&lt;/strong&gt;&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07e8d');
                el.innerHTML = clean;
              })();
            </script>
          </h4>
          <h6 class="lh-lg text-responsive-18">
            <div id=content-65e35e1b07ed6></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `All clients are supported with a professional team of dedicated customer relationship managers. We place utmost priority in training our customer relationship managers to provide world-class support to all our clients. We ensure our customer relationship managers are patient, understanding and equipped with the right knowledge and skills to resolve clients’ issues in the shortest possible time. Our team is contactable 24 hours a day, five days a week via our online live chat platform. Our support languages include English, Chinese, French, German, Malay, Tagalog &amp; Vietnamese.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07ed6');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>
      </div>
      <div class="row  flex-lg-row-reverse  row-cols-1 row-cols-lg-2 align-items-center g-5 my-3 my-xl-5 py-2">
        <div class="col-lg-5 m-0 d-flex justify-content-center">
          <img src=https://axiontrade.net/assets/company/protection.png width="100%" class=" illus">
        </div>
        <div class="col-lg-7 m-0">
          <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e35e1b07f1e></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;p&gt;Negative Balance &lt;strong style=&quot;color: #0354ff;&quot;&gt;Protection&lt;/strong&gt;&lt;/p&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07f1e');
                el.innerHTML = clean;
              })();
            </script>
          </h4>
          <h6 class="lh-lg text-responsive-18">
            <div id=content-65e35e1b07f63></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `In an increasingly volatile market, there may be rare scenarios where clients may face losses exceeding their capital. To protect clients’ interests, Axion Trade has introduced Negative Balance Protection which allows affected clients to remove any negative balance on their trading accounts. Trade without worry on unintended trade losses exceeding your available trading capital.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35e1b07f63');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>
      </div>
    </div>
  </div>



{% endblock %}