{% extends "forex/base.html" %}

{% block home %}
<div class="post-page container-xl my-5">

    <div class="head my-3 pb-3 my-lg-5">
      <h1 class="h-title text-center page-title sofia-pro-heading fw-bold text-responsive-48 lh-lg">
        <div id=content-65e35f6a12bd1></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Posts &amp; Events`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35f6a12bd1');
            el.innerHTML = clean;
          })();
        </script>
      </h1>
      <h4 class="h-content text-center lh-base pb-4 text-responsive-24 grey-text">
        <div id=content-65e35f6a12c1e></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Get updated to our latest activities and events.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35f6a12c1e');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <hr class="divider-hr">
      <form class="row g-3 justify-content-center mt-3">
        <div class="col-auto col-md-4">
          <input value="" type="text" id="search-key" name="search-key" placeholder="Search Posts &amp; Events"
            class="form-control">
        </div>
        <div class="col-auto">
          <button onclick="onSearch(event)"
            class="btn btn-primary blue-btn mb-3 d-inline-flex gap-2 align-items-center">
            <i class="text-responsive-16 bi bi-search"></i>
            <a
              class="d-none d-md-block text-responsive-16 sofia-pro-heading text-white text-decoration-none">Search</a>
          </button>
        </div>
      </form>
    </div>

    <div class="featured my-4">
      <div class="sofia-pro-heading text-500 text-responsive-32 mb-4">Featured Posts &amp; Events</div>
      <div class="d-flex flex-row gap-3 w-100 post-row">
      </div>
    </div>


    <div class="recent my-4">
      <div class="sofia-pro-heading text-500 text-responsive-24 mb-4">Recent Posts &amp; Events</div>
      <div class="row row-cols-1 row-cols-xl-2">
        <div class="col col-xl-8 d-flex flex-column gap-3">

        </div>
        <div class="col col-xl-4 recommend-col d-none d-xl-block">
          <div class="sofia-pro-heading text-500 text-responsive-20 mb-4">Recommended For You</div>
          <div class="d-flex flex-column gap-3">
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}