{% extends "forex/base.html" %}

{% block home %}
<div class="standard-account-page container-xl">

    <div class="head my-5 my-lg-5">
      <div class="col d-flex flex-column align-items-center align-items-sm-start m-0 mt-sm-5">
        <h1 class="h-title text-center text-sm-start sofia-pro-heading text-responsive-32 fw-bold lh-lg">
          <div id=content-65e35430a3de6></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Standard Account (ECN)`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35430a3de6');
              el.innerHTML = clean;
            })();
          </script>
        </h1>
        <h4 class="h-content text-center text-sm-start lh-base text-responsive-20">
          <div id=content-65e35430a3e32></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;p&gt;Enjoy the lowest commissions and spreads available in the world, only at Axion Trade! &lt;br /&gt;Leverage of up to 1:500 with commissions of USD 4 per standard lot.&lt;/p&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35430a3e32');
              el.innerHTML = clean;
            })();
          </script>
        </h4>
        <div class="cta mt-4 mt-sm-3 mt-lg-3 g-2 d-flex gap-3">
          <a href=https://register.axiontrade.net/account/live/step-1>
            <button type="button" class="blue-btn btn text-white">Start Trading</button>
          </a>
          <a href=https://secure.axiontrade.net/account/demo>
            <button type="button" class="sec-btn btn text-white">Try a Demo Account</button>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-5 py-3">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24">
        <div id=content-65e35430a3e7c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;About &lt;span style=&quot;color: #0354ff;&quot;&gt;Standard Account (ECN)&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35430a3e7c');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18">
        <div id=content-65e35430a3eb6></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `All new clients of Axion Trade shall have a Standard Account created by default when they make their first deposit with Axion Trade.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35430a3eb6');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
    </div>


    <div class="settings my-5">
      <h4 class="fw-bold text-500 sofia-pro-heading text-responsive-24 lh-lg">
        <div id=content-65e35430a3ef5></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Account &lt;span style=&quot;color: #0354ff;&quot;&gt;Settings&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35430a3ef5');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <div class="spec row row-cols-1 row-cols-md-1 row-cols-lg-1 g-5 align-items-center mx-0">
        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Account Leverage</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">Up to 1:500</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a3fb7></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `For Forex, Commodities &amp; Indices. Digital Assets has a leverage of up to 1:20 and Stocks has a leverage of up to 1:10`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a3fb7');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Commissions</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">USD 4 per Standard lot</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a4064></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Commissions of USD 4 per Standard lot applies for Forex &amp; Commodities. Commissions for Indices at 0.02%`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a4064');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Spreads</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">Raw / ECN</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a410d></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Get direct access to our top-tier liquidity providers and ECNs with spreads as low as 0.0 pips for EURUSD and 0.4 pips for Gold.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a410d');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Minimum Deposit</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">USD 100</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a41af></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `The minimum deposit required to open a Standard Account at Axion Trade is USD 100`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a41af');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Slippage Insurance</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">Guaranteed Price Requote</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a4261></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Axion Trade guarantees a better price requote if the slippage experienced due to a stop-loss order being hit is more than 2.0 pips.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a4261');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

        <div class="col quote-col text-start d-flex flex-column align-items-start">
          <div class="d-flex gap-2 lh-lg align-items-center">
            <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Negative Balance Protection</h5>
            <i class="bi bi-chevron-right text-responsive-20"></i>
            <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">Yes</h5>
          </div>
          <h6 class="m-0 lh-lg text-responsive-18 grey-text">
            <div id=content-65e35430a4306></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `Trade without worry about losses exceeding deposits as all negative balances are covered by Axion Trade.`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35430a4306');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
        </div>

      </div>
    </div>
  </div>

{% endblock %}