{% extends "forex/base.html" %}

{% block home %}

<div class="stocks-page container-xl">


    <div class="head my-sm-3 my-lg-5">
        <div class="row flex-sm-row-reverse row-cols-1 row-cols-md-2 align-items-center g-5 m-auto">
            <div class="col pb-0 p-sm-0">
                <div class="background-image-contain pb-16-9 m-0"
                    style="background-image: url(https://axiontrade.net/assets/market/Market_Stock.png)">
                </div>
            </div>

            <div class="col d-flex flex-column align-items-center align-items-md-start m-0 mt-sm-5 p-0">
                <h1 class="h-title fw-bold lh-lg sofia-pro-heading text-responsive-48">Stocks</h1>
                <h4 class="h-content text-center text-sm-start lh-base text-responsive-24">Trade a diverse range
                    of Stocks with commissions as low as 0.10%</h4>
                <div class="cta mt-4 mt-sm-3 mt-lg-5 g-2 d-flex gap-3">
                    <a href=https://register.axiontrade.net/account/live/step-1 target="_blank">
                        <button type="button" class="blue-btn btn text-white text-responsive-16">Start
                            Trading</button>
                    </a>
                    <a href=https://secure.axiontrade.net/account/demo target="_blank">
                        <button type="button" class="sec-btn btn text-white text-responsive-16">Try a Demo
                            Account</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <h4 class="text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e353793ae46></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
                (function () {
                    let content = `&lt;p&gt;Why &lt;span style=&quot;color: #0354ff;&quot;&gt;Trade Stocks&lt;/span&gt; on Axion Trade?&lt;/p&gt;`;
                    let clean = DOMPurify.sanitize(_.unescape(content));
                    let el = document.getElementById('content-65e353793ae46');
                    el.innerHTML = clean;
                })();
            </script>
        </h4>
        <h6 class="lh-lg text-responsive-18">
            <div id=content-65e353793ae95></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
                (function () {
                    let content = `&lt;p&gt;Stocks are one of the easiest ways to get started with trading as they provide both flexibility and diversity. You can buy and sell stocks for the short-term, or you can hold your positions for the long-term, personalizing your strategy.&lt;/p&gt;
&lt;p&gt;Whether you naturally err on the side of caution or love taking risks, stocks offer an opportunity to explore both sides of the spectrum. You can go long or short on stocks depending on your trading strategy and style.&lt;/p&gt;`;
                    let clean = DOMPurify.sanitize(_.unescape(content));
                    let el = document.getElementById('content-65e353793ae95');
                    el.innerHTML = clean;
                })();
            </script>
        </h6>
    </div>

    <div class="m-3 my-lg-5 pt-3 pt-lg-5">
        <div class="row row-cols-1 row-cols-xl-2 align-items-center g-5">
            <div class="col m-0">
                <div class="background-image-contain start-stocks-bg pb-16-9"></div>
            </div>

            <div class="col m-0">
                <h4 class="text-responsive-24 text-500 sofia-pro-heading">
                    <div id=content-65e353793aed7></div>
                    <script
                        src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                    <script>
                        (function () {
                            let content = `&lt;p&gt;Start &lt;span style=&quot;color: #0354ff;&quot;&gt;Trading Big-Name Tech Stocks&lt;/span&gt; and More&lt;/p&gt;`;
                            let clean = DOMPurify.sanitize(_.unescape(content));
                            let el = document.getElementById('content-65e353793aed7');
                            el.innerHTML = clean;
                        })();
                    </script>
                </h4>
                <h6 class="lh-lg text-responsive-18">Have you ever used Facebook, Apple, Amazon, Netflix, or
                    Google? Chances are you have, and while these tech giants are at the forefront of innovation
                    and technology, with stock trading, you have an opportunity to get in on the action by
                    buying and selling shares in these companies.</h6>
            </div>
        </div>
    </div>

    <div class="img-box m-4 my-lg-5 pt-3 pt-lg-5">
        <div class="row row-cols-1 row-cols-sm-3 g-5">
            <div class="col d-flex flex-column align-items-center text-center gap-3">
                <img src=https://axiontrade.net/assets/market/stk-growth-opp.png width="85" height="85">
                <h5 class="m-0 text-responsive-24 text-500 sofia-pro-heading ">Growth Opportunities</h5>
                <h6 class="m-0 lh-lg text-respondive-19 ">Investing in equities gives you the opportunity to
                    grow your money and potentially outpace inflation.</h6>
            </div>
            <div class="col d-flex flex-column align-items-center text-center gap-3">
                <img src=https://axiontrade.net/assets/market/stk-income-potential.png width="85" height="85">
                <h5 class="m-0 text-responsive-24 text-500 sofia-pro-heading ">Income Potential</h5>
                <h6 class="m-0 lh-lg text-respondive-19 ">Many equities offer regular dividends that can provide
                    income you can keep or reinvest.</h6>
            </div>
            <div class="col d-flex flex-column align-items-center text-center gap-3">
                <img src=https://axiontrade.net/assets/market/stk-control-flex.png width="85" height="85">
                <h5 class="m-0 text-responsive-24 text-500 sofia-pro-heading ">Control &amp; Flexibility</h5>
                <h6 class="m-0 lh-lg text-respondive-19 ">You can decide which company to own and invest your
                    money in with the ability to buy and sell on any day the market is open.</h6>
            </div>
        </div>
    </div>

    <div class="contract my-5">
        <h4 class="lh-lg text-responsive-24 text-500 sofia-pro-heading">
            <div id=content-65e353793af29></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
                (function () {
                    let content = `Contract &amp; Specifications for all Stocks`;
                    let clean = DOMPurify.sanitize(_.unescape(content));
                    let el = document.getElementById('content-65e353793af29');
                    el.innerHTML = clean;
                })();
            </script>
        </h4>
        <div class="spec row row-cols-1 row-cols-xl-2 g-5 align-items-center mx-0">
            <div class="col quote-col text-start d-flex flex-column align-items-start">
                <div class="d-flex gap-2 lh-lg align-items-center">
                    <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Contract Size</h5>
                    <i class="bi bi-chevron-right text-responsive-20"></i>
                    <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">1</h5>
                </div>
                <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                    <div id=content-65e353793afed></div>
                    <script
                        src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                    <script>
                        (function () {
                            let content = `1 standard Lot Contract Size on Axion Trade is equivalent to 1 stock.`;
                            let clean = DOMPurify.sanitize(_.unescape(content));
                            let el = document.getElementById('content-65e353793afed');
                            el.innerHTML = clean;
                        })();
                    </script>
                </h6>
            </div>

            <div class="col quote-col text-start d-flex flex-column align-items-start">
                <div class="d-flex gap-2 lh-lg align-items-center">
                    <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Minimum Lot</h5>
                    <i class="bi bi-chevron-right text-responsive-20"></i>
                    <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">1.00</h5>
                </div>
                <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                    <div id=content-65e353793b09b></div>
                    <script
                        src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                    <script>
                        (function () {
                            let content = `The minimum lot size on Axion Trade is 1.00 which is equivalent to 1 stock.`;
                            let clean = DOMPurify.sanitize(_.unescape(content));
                            let el = document.getElementById('content-65e353793b09b');
                            el.innerHTML = clean;
                        })();
                    </script>
                </h6>
            </div>

            <div class="col quote-col text-start d-flex flex-column align-items-start">
                <div class="d-flex gap-2 lh-lg align-items-center">
                    <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Incremental Steps</h5>
                    <i class="bi bi-chevron-right text-responsive-20"></i>
                    <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">1.00</h5>
                </div>
                <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                    <div id=content-65e353793b144></div>
                    <script
                        src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                    <script>
                        (function () {
                            let content = `The minimum incremental lot size on Axion Trade is 1.00 which is equivalent to 1 stock.`;
                            let clean = DOMPurify.sanitize(_.unescape(content));
                            let el = document.getElementById('content-65e353793b144');
                            el.innerHTML = clean;
                        })();
                    </script>
                </h6>
            </div>

            <div class="col quote-col text-start d-flex flex-column align-items-start">
                <div class="d-flex gap-2 lh-lg align-items-center">
                    <h5 class="m-0 text-responsive-20 text-500 sofia-pro-heading">Maximum Lot</h5>
                    <i class="bi bi-chevron-right text-responsive-20"></i>
                    <h5 class="spec-value m-0 text-responsive-20 text-500 sofia-pro-heading">1000</h5>
                </div>
                <h6 class="m-0 lh-lg text-responsive-18 grey-text">
                    <div id=content-65e353793b1e6></div>
                    <script
                        src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
                    <script>
                        (function () {
                            let content = `The maximum lot size per trade on Axion Trade is 1000 which is equivlant to 1000 stocks.`;
                            let clean = DOMPurify.sanitize(_.unescape(content));
                            let el = document.getElementById('content-65e353793b1e6');
                            el.innerHTML = clean;
                        })();
                    </script>
                </h6>
            </div>

        </div>
    </div>

    <div class="my-3 my-lg-5 pt-3 pt-lg-5">
        <h4 class="text-responsive-32 text-500 sofia-pro-heading">
            <div id=content-65e353793b320></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
                (function () {
                    let content = `&lt;p&gt;Stocks &lt;span style=&quot;color: #0354ff;&quot;&gt;available &lt;/span&gt;on Axion Trade&lt;/p&gt;`;
                    let clean = DOMPurify.sanitize(_.unescape(content));
                    let el = document.getElementById('content-65e353793b320');
                    el.innerHTML = clean;
                })();
            </script>
        </h4>
        <ul class="nav nav-pills mb-4 flex-nowrap flex-sm-wrap overflow-auto" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-A-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-A" type="button" role="tab"
                    aria-controls="pills-A" aria-selected="true">
                    A
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-B-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-B" type="button" role="tab"
                    aria-controls="pills-B" aria-selected="true">
                    B
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-C-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-C" type="button" role="tab"
                    aria-controls="pills-C" aria-selected="true">
                    C
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-D-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-D" type="button" role="tab"
                    aria-controls="pills-D" aria-selected="true">
                    D
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-E-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-E" type="button" role="tab"
                    aria-controls="pills-E" aria-selected="true">
                    E
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-F-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-F" type="button" role="tab"
                    aria-controls="pills-F" aria-selected="true">
                    F
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-G-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-G" type="button" role="tab"
                    aria-controls="pills-G" aria-selected="true">
                    G
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-H-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-H" type="button" role="tab"
                    aria-controls="pills-H" aria-selected="true">
                    H
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-I-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-I" type="button" role="tab"
                    aria-controls="pills-I" aria-selected="true">
                    I
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-J-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-J" type="button" role="tab"
                    aria-controls="pills-J" aria-selected="true">
                    J
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-K-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-K" type="button" role="tab"
                    aria-controls="pills-K" aria-selected="true">
                    K
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-L-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-L" type="button" role="tab"
                    aria-controls="pills-L" aria-selected="true">
                    L
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-M-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-M" type="button" role="tab"
                    aria-controls="pills-M" aria-selected="true">
                    M
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-N-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-N" type="button" role="tab"
                    aria-controls="pills-N" aria-selected="true">
                    N
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-O-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-O" type="button" role="tab"
                    aria-controls="pills-O" aria-selected="true">
                    O
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-P-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-P" type="button" role="tab"
                    aria-controls="pills-P" aria-selected="true">
                    P
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-Q-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-Q" type="button" role="tab"
                    aria-controls="pills-Q" aria-selected="true">
                    Q
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-R-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-R" type="button" role="tab"
                    aria-controls="pills-R" aria-selected="true">
                    R
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-S-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-S" type="button" role="tab"
                    aria-controls="pills-S" aria-selected="true">
                    S
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-T-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-T" type="button" role="tab"
                    aria-controls="pills-T" aria-selected="true">
                    T
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-U-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-U" type="button" role="tab"
                    aria-controls="pills-U" aria-selected="true">
                    U
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-V-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-V" type="button" role="tab"
                    aria-controls="pills-V" aria-selected="true">
                    V
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-W-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-W" type="button" role="tab"
                    aria-controls="pills-W" aria-selected="true">
                    W
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-X-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-X" type="button" role="tab"
                    aria-controls="pills-X" aria-selected="true">
                    X
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-Y-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-Y" type="button" role="tab"
                    aria-controls="pills-Y" aria-selected="true">
                    Y
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-responsive-16 text-600 text-nowrap" id="pills-Z-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-Z" type="button" role="tab"
                    aria-controls="pills-Z" aria-selected="true">
                    Z
                </button>
            </li>
        </ul>
        <div class="tab-content " id="pills-tabContent">
            <div class="tab-pane fade" id="pills-A" role="tabpanel" aria-labelledby="pills-A-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/apple_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Apple (AAPL)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/aig_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> American International Group (AIG)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/amz_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Amazon (AMZN)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/axp_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> American Express (AXP)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ads_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Adidas AG (ASDGn)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/air_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Air France-KLM (AIRF)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/alv_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Allianz SE (ALVG)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-B" role="tabpanel" aria-labelledby="pills-B-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ba_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Boeing (BA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/baba_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Alibaba Group (BABA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bac_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Bank of America (BAC)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bay_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Bayer AG (BAYGn)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bbva_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Banco Bilbao Vizcaya Argentaria SA (BBVA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bkia_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Bankia SA (BKIA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bmwg_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Bayerische Motoren Werke AG / BMW (BMWG)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/bnpp_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> BNP Paribas (BNPP)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-C" role="tabpanel" aria-labelledby="pills-C-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/c_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Citigroup (C)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/csco_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Cisco Systems (CSCO)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/cvx_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Chevron Corporation (CVX)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/cbkg_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Commerzbank AG (CBKG)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-D" role="tabpanel" aria-labelledby="pills-D-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/daign_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Daimler AG (DAIGn)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/dano_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Danone SA (DANO)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/dbkgn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Deutsche Bank AG (DBKGn)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/dpwgn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Deutsche Post AG (DPWGn)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-E" role="tabpanel" aria-labelledby="pills-E-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ebay_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> eBay (EBAY)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/eongn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> E.ON SE (EONGn)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-F" role="tabpanel" aria-labelledby="pills-F-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/f_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Ford Motor Company (F)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/fb_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Meta / Facebook (FB)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/fdx_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> FedEx (FDX)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-G" role="tabpanel" aria-labelledby="pills-G-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ge_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> General Electric (GE)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/gm_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> General Motors (GM)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/goog_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Alphabet Inc. / Google (GOOG)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/gs_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Goldman Sachs (GS)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-H" role="tabpanel" aria-labelledby="pills-H-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/hlt_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Hilton (HLT)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/hpq_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Hewlett-Packard / HP (HPQ)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-I" role="tabpanel" aria-labelledby="pills-I-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ibm_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> IBM (IBM)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ilmn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Illumina (ILMN)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/intc_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Intel (INTC)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ibe_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Iberdrola SA (IBE)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-J" role="tabpanel" aria-labelledby="pills-J-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/jnj_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Johnson &amp; Johnson (JNJ)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/jpm_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> JPMorgan Chase (JPM)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-K" role="tabpanel" aria-labelledby="pills-K-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ko_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> The Coca-Cola Company (KO)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-L" role="tabpanel" aria-labelledby="pills-L-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/lhag_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Lufthansa AG (LHAG)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/lvmh_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> LVMH SE (LVMH)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-M" role="tabpanel" aria-labelledby="pills-M-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/ma_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Mastercard (MA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/mcd_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> McDonald’s (MCD)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/msft_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Microsoft Corporation (MSFT)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/map_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> MAPFRE SA (MAP)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-N" role="tabpanel" aria-labelledby="pills-N-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/nflx_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Netflix (NFLX)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-O" role="tabpanel" aria-labelledby="pills-O-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/orcl_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Oracle Corporation (ORCL)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-P" role="tabpanel" aria-labelledby="pills-P-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/pfe_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Pfizer (PFE)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/pg_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Procter &amp; Gamble (PG)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Q" role="tabpanel" aria-labelledby="pills-Q-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/qcom_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Qualcomm (QCOM)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-R" role="tabpanel" aria-labelledby="pills-R-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/race_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> FERRARI N.V. (RACE)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-S" role="tabpanel" aria-labelledby="pills-S-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/san_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Santander Group SA (SAN)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/siegn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Siemens AG (SIEGn)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/sogn_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Societe Generale SA (SOGN)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-T" role="tabpanel" aria-labelledby="pills-T-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/t_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> AT&amp;T (T)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/teva_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Teva Pharmaceuticals (TEVA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/tsla_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Tesla, Inc. (TSLA)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/twtr_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Twitter (TWTR)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/tef_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Telefónica SA (TEF)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/totf_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> TotalEnergies SE (TOTF)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-U" role="tabpanel" aria-labelledby="pills-U-tab">
                <h5 class="my-5 no-result px-3 text-responsive-20">No results found</h5>
            </div>
            <div class="tab-pane fade" id="pills-V" role="tabpanel" aria-labelledby="pills-V-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/v_logo.png height="32px">
                        </div>
                        <div class="text-responsive-20"> Visa (V)</div>
                    </div>
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/vowg_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> Volkswagen Group AG (VOWG)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-W" role="tabpanel" aria-labelledby="pills-W-tab">
                <h5 class="my-5 no-result px-3 text-responsive-20">No results found</h5>
            </div>
            <div class="tab-pane fade" id="pills-X" role="tabpanel" aria-labelledby="pills-X-tab">
                <div class="d-flex flex-row gap-3 flex-wrap">
                    <div class="d-flex flex-column shadow p-3 rounded gap-2">
                        <div class="card-img">
                            <img src=https://axiontrade.net/assets/dummy/market/stock/xom_logo.png
                                height="32px">
                        </div>
                        <div class="text-responsive-20"> ExxonMobil (XOM)</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Y" role="tabpanel" aria-labelledby="pills-Y-tab">
                <h5 class="my-5 no-result px-3 text-responsive-20">No results found</h5>
            </div>
            <div class="tab-pane fade" id="pills-Z" role="tabpanel" aria-labelledby="pills-Z-tab">
                <h5 class="my-5 no-result px-3 text-responsive-20">No results found</h5>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var tab = document.getElementById(`pills-A-tab`);
            var tabDetails = document.getElementById(`pills-A`);

            tab.classList.add("active");
            tabDetails.classList.add("show", "active");
        }
    </script>
</div>

{% endblock %}