{% extends "forex/base.html" %}

{% block home %}

<div class="whitelabel-page container-xl">

    <div class="head mt-5 my-md-5 pt-3">
      <div class="row flex-sm-row-reverse row-cols-1 align-items-center g-5">
        <div class="col d-flex flex-column align-items-sm-start m-0 mt-sm-5">
          <h1 class="h-title sofia-pro-heading text-500 text-responsive-32 lh-lg">White Label Partnerships</h1>
          <h5 class="h-content text-start lh-base text-responsive-20 grey-text">The AxionTrade white label partnership
            program is a turnkey solution giving your clients access to our market-leading liquidity and technology.
            The AxionTrade white label program has a variety of different levels designed to complement start-up or
            established hedge funds or brokerages and help them take their business to the next level. You can also
            choose to take our liquidity only using one of our many flexible connectivity options.</h5>
        </div>
      </div>
    </div>


    <div class="mt-4">
      <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
        <div id=content-65e35d828861a></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Unbranded &lt;span style=&quot;color: #0354ff;&quot;&gt;White Label Solution&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d828861a');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18 ">
        <div id=content-65e35d8288677></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `A white label partner who chooses this option may be a large introducing broker or money manager who requires greater control over their trading environment and clients. Under this model greater margins can be achieved than through a traditional introducing broker program, however, it does not have the same regulatory, compliance, and operational responsibilities of a fully branded white label solution.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d8288677');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <h6 class="mt-3 mb-2 text-responsive-18">
        <div id=content-65e35d82886c7></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Key Features`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d82886c7');
            el.innerHTML = clean;
          })();
        </script>
        </h5>
        <h6 class="lh-lg text-responsive-18 text-normal">
          <div id=content-65e35d8288710></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;ul&gt;
&lt;li&gt;Access to deep liquidity and market leading spreads from 0.0 pips&lt;/li&gt;
&lt;li&gt;Co-branded MT4/MT5 and/or cTrader platforms&lt;/li&gt;
&lt;li&gt;Leverage off an established and trusted brand in the market&lt;/li&gt;
&lt;li&gt;Customisable client commission structures&lt;/li&gt;
&lt;li&gt;Customisable trading conditions for your clients&lt;/li&gt;
&lt;/ul&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d8288710');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
        <h6 class="mt-3 mb-2 text-responsive-18">
          <div id=content-65e35d8288758></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Requirements`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d8288758');
              el.innerHTML = clean;
            })();
          </script>
          </h5>
          <h6 class="lh-lg text-responsive-18 text-normal">
            <div id=content-65e35d82887c5></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;ul&gt;
&lt;li&gt;Minimum monthly volume of $200 million (2,000 standard lots)&lt;/li&gt;
&lt;li&gt;Established client base&lt;/li&gt;
&lt;/ul&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35d82887c5');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
    </div>
    <div class="mt-4">
      <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
        <div id=content-65e35d8288813></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Fully Branded &lt;span style=&quot;color: #0354ff;&quot;&gt;White Label Solution&amp;nbsp;&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d8288813');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18 ">
        <div id=content-65e35d828885c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Our white label program has been designed for start-up businesses with a detailed business plan and existing brokerages that have an existing client base and monthly foreign exchange volume of greater than $1 billion. As a full white label partner you will have complete control and transparency over the infrastructure through which you manage your clients.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d828885c');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <h6 class="mt-3 mb-2 text-responsive-18">
        <div id=content-65e35d828889d></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Key Features`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d828889d');
            el.innerHTML = clean;
          })();
        </script>
        </h5>
        <h6 class="lh-lg text-responsive-18 text-normal">
          <div id=content-65e35d82888da></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;ul&gt;
&lt;li&gt;Access to deep liquidity and market leading spreads from 0.0 pips&lt;/li&gt;
&lt;li&gt;Co-branded MT4/MT5 and/or cTrader platforms&lt;/li&gt;
&lt;li&gt;Leverage off an established and trusted brand in the market&lt;/li&gt;
&lt;li&gt;Customisable client commission structures&lt;/li&gt;
&lt;li&gt;Customisable trading conditions for your clients&lt;/li&gt;
&lt;/ul&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d82888da');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
        <h6 class="mt-3 mb-2 text-responsive-18">
          <div id=content-65e35d8288918></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Requirements`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d8288918');
              el.innerHTML = clean;
            })();
          </script>
          </h5>
          <h6 class="lh-lg text-responsive-18 text-normal">
            <div id=content-65e35d8288956></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;ul&gt;
&lt;li&gt;Minimum monthly volume of $1 billion (10,000 standard lots)&lt;/li&gt;
&lt;li&gt;Established client base&lt;/li&gt;
&lt;/ul&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35d8288956');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
    </div>
    <div class="mt-4">
      <h4 class="sofia-pro-heading text-500 text-responsive-24 body-section-title">
        <div id=content-65e35d8288999></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `&lt;p&gt;Strategic &lt;span style=&quot;color: #0354ff;&quot;&gt;Partnerships&lt;/span&gt;&lt;/p&gt;`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d8288999');
            el.innerHTML = clean;
          })();
        </script>
      </h4>
      <h6 class="lh-lg text-responsive-18 ">
        <div id=content-65e35d82889de></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `The AxionTrade liquidity solution is ideal for institutional and high volume clients looking to access market leading spread at affordable prices. Clients leverage off AxionTrade’ existing liquidity, technology and banking relationships with the benefit of dealing with one counterparty and receiving market leading pricing at a competitive volume based fee.`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d82889de');
            el.innerHTML = clean;
          })();
        </script>
      </h6>
      <h6 class="mt-3 mb-2 text-responsive-18">
        <div id=content-65e35d8288a1c></div>
        <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
        <script>
          (function () {
            let content = `Key Features`;
            let clean = DOMPurify.sanitize(_.unescape(content));
            let el = document.getElementById('content-65e35d8288a1c');
            el.innerHTML = clean;
          })();
        </script>
        </h5>
        <h6 class="lh-lg text-responsive-18 text-normal">
          <div id=content-65e35d8288a5a></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `&lt;ul&gt;
&lt;li&gt;Access to deep liquidity and market leading spreads from 0.0 pips&lt;/li&gt;
&lt;li&gt;Multi bank aggregated price feed&lt;/li&gt;
&lt;li&gt;Super fast execution of large orders&lt;/li&gt;
&lt;li&gt;Flexible connectivity options&lt;/li&gt;
&lt;li&gt;Margin rates from 1% calculated on a portfolio basis&lt;/li&gt;
&lt;li&gt;Competitive commissions rates&lt;/li&gt;
&lt;/ul&gt;`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d8288a5a');
              el.innerHTML = clean;
            })();
          </script>
        </h6>
        <h6 class="mt-3 mb-2 text-responsive-18">
          <div id=content-65e35d8288a98></div>
          <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
          <script>
            (function () {
              let content = `Requirements`;
              let clean = DOMPurify.sanitize(_.unescape(content));
              let el = document.getElementById('content-65e35d8288a98');
              el.innerHTML = clean;
            })();
          </script>
          </h5>
          <h6 class="lh-lg text-responsive-18 text-normal">
            <div id=content-65e35d8288ad5></div>
            <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
            <script>
              (function () {
                let content = `&lt;ul&gt;
&lt;li&gt;Minimum monthly volume of $500 million (5,000 standard lots)&lt;/li&gt;
&lt;/ul&gt;`;
                let clean = DOMPurify.sanitize(_.unescape(content));
                let el = document.getElementById('content-65e35d8288ad5');
                el.innerHTML = clean;
              })();
            </script>
          </h6>
    </div>


    <h6 class="lh-lg text-responsive-18">
      <div id=content-65e35d8288b12></div>
      <script src="/dist/js/web/sub/layouts/htmlContent.js?id=8d53cf74be78e00987cda84c2c379bbf"></script>
      <script>
        (function () {
          let content = `&lt;p&gt;For more information about our strategic partnership program, please send an email to &lt;strong&gt;&lt;a style=&quot;text-decoration-line: none; color: #243a51;&quot; href=&quot;mailto:partnerships@axiontrade.net&quot;&gt;partnerships@axiontrade.net&lt;/a&gt;&lt;/strong&gt;.&lt;/p&gt;`;
          let clean = DOMPurify.sanitize(_.unescape(content));
          let el = document.getElementById('content-65e35d8288b12');
          el.innerHTML = clean;
        })();
      </script>
    </h6>
  </div>

{% endblock %}