{% extends 'client/base.html' %}
{%load static %}
{% block home %}

<style>
	.error{
		color: red;
		font-size: initial;
		font-weight: bold;
		margin-left: 15px;
	}
</style>

<!-- <div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="{%static 'assets/images/logo.png'%}" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<form method="POST">
				{%csrf_token%}
				<div class="row align-items-center ">
					<div class="col-md-12">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">OTP</h4>
							<p>
								Please check your registered e-mail to validate OTP to get password reset.
								<small class="font-weight-bold text-info">Note: OTP will expire in 5 minutes after generating.</small> 
							</p>
							<hr>
							{% if error %}
								<p class="error">{{error}}</p>
							{% endif %}
							<div class="form-group mb-3">
								<input type="text" class="form-control" id="Email" placeholder="OTP" name="otp"
									required>
							</div>
							<input type="submit" class="btn btn-block btn-primary mb-4" value="Validate OTP">
							<hr>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> -->




 <!-- Contact Start -->
 <div class="container-xxl py-5">
	<div class="container">
		<div class="row g-0">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<div class="h-75" style="min-height:100px;">
					<img src="{% static 'webapp/img/Enter OTP-pana.svg'%}" class="w-75 img-fluid">
				</div>
			</div>
			<div class="col-lg-6 wow fadeIn mt-3" data-wow-delay="0.1s" style="background-color:white;">
				<div class=" p-5">
					<p class="d-inline-block bg-dark text-primary py-1 px-4">OTP Verification</p>
					<form  id="AddEmpModal" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{% if error %}
						<p class="error">{{error}}</p>
					{% endif %}
					{% if messages %}
						<ul class="messages list-unstyled">
							{% for message in messages %}
							<li{% if message.tags %} class="text-success text-center font-weight-bold"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
						<div class="row g-3">
							<div class="col-md-12">
								
								<p>
									<!-- Please check your registered e-mail to validate OTP to get password reset. -->
									<small class="font-weight-bold text-info">Note: OTP will expire in 5 minutes after generating.</small> 
								</p>
							</div>
					
							<div class="col-md-12">
								<div class="form-floating">
									<input type="number" maxlength="6" class="form-control" id="Email" placeholder="OTP" name="otp" required>
									<label for="password">OTP</label>
								
								</div>
							</div>
							<div class="col-md-6">
							<div id="btn_loader">
								<button type="submit" id="" class="btn btn-block w-100 btn-primary mb-4" >Validate OTP</button>
								
							</div>
							</div>
							<div class="col-md-6">
								<div id="btn_loader_send">
									<button type="button" id="button_send" class="btn btn-block w-100 btn-warning mb-4" onclick="send_otp()">Resend OTP</button>
									
							</div>
							</div>
							
					
						</div>

					</form>
				</div>
			</div>
		
		</div>
	</div>
</div>
<!-- Contact End --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<script>


$('#button_id').on('click',function(){
	document.getElementById('btn_loader').innerHTML='<button class="btn btn-primary w-100 py-3" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>'
     $('#AddEmpModal').submit();
	 
 });
 
$('#button_send').on('click',function(){
	document.getElementById('btn_loader_send').innerHTML='<button class="btn btn-primary w-100 py-3" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>'
    //  $('#AddEmpModal').submit();

	 
 }); 
</script>

<script>
    function send_otp(){
        var mob=localStorage.getItem("Phone_number");
        var user=localStorage.getItem("Username");
       
        $.get("/clientapp/send_otp/" + mob +"/"+ user +"/", function(data) {
            console.log(data)
			alert("Please Check your Register Email ID.")
			location.reload()  
     
    });
    }
</script>
{% endblock %}