{% extends 'dashboard/index.html' %}
{% load static %}
{% block home %}
<div class="container-fluid  pt-4 px-4  mb-5">
   

    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Withdraw Finance</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Date</th>

                            <th scope="col">Tr.ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Withdraw Type</th>
                            <th scope="col">LoginID/Wallet</th>
                            <th scope="col">Wallet Details</th>
                            <th>Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th scope="row">1</th>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                            <td>xxxxx</td>
                      
                            <td>
                                <a class="btn btn-info btn-sm"><i class="fa fa-eye"></i>&nbsp;View</a>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                    <a  class="btn btn-warning btn-sm"> <b>Pending</b></a>
                                    <a  class="btn btn-success btn-sm"> <b>Approved</b></a>
                                    <a  class="btn btn-danger btn-sm"> <b>Rejected</b></a>

                                  </div>
                         </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                    <a href="" class="btn btn-info btn-sm"> <b>Wallet</b></a>
                                    <a href="" class="btn btn-success btn-sm"> <b>Account</b></a>

                                    <a href="" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <b> Reject</b></a>
                                  </div>
                         </td>

                        </tr>
                      
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Reason For Cancellation</h1>

          <div class="col-12 mb-3">
            <textarea rows="3" class="form-control bg-white" name="remarks" placeholder="Please Enter..........."></textarea>
          </div>
          <div class="col-12 mb-3">
            <input type="submit" class="btn btn-success w-100 btn-block" value="Submit">
          </div>
        </div>
    
      </div>
    </div>
  </div>

{% endblock %}